@media (min-width: 1200px)
  @import ../generic/common/common-1200_media
  /* Header start

  .header
    &-top
      left: calc( 50% - 415px)
    & .custom-logo-link
      width: 160px
      height: 57px
    &_nav
      padding: 0
      background-color: transparent
      position: static
      &__list
        margin: 0 auto
        padding: 0 10px
        & a
          padding: 5px
          margin: 0 5px
          color: #03776D
          font-weight: 600
          &:hover
            background-color: rgba(255, 255, 255, .2)
            border-radius: 5px
      &__contacts
        color: #03776D
        &-time
          font-size: 12px
          line-height: 16px
        &-tel
          color: #03776D
          font-weight: 600
          text-decoration: none
          
  /* Header end
  .firstscreen
    padding-top: 150px
    & .section-title
      font-size: 40px
      line-height: 55px
      max-width: 530px
    &_desc
      max-width: 530px
      margin-bottom: 50px
    &_list
      &__title
        margin-bottom: 30px
        @include font-20
        font-weight: bold
      &__wrap
        max-width: 465px
        margin-left: 0
    & .section-board
      max-width: 430px
      padding: 40px 50px 60px
      & input
        max-width: 350px
        margin-top: 30px
      &_time__list
        max-width: 350px
  .download
    padding-top: 80px
    &_pic
      max-width: 450px
      margin-right: 50px
    &-content
      max-width: 435px
      margin-left: 50px
      padding-top: 50px
    &_desc
      margin: 20px 0 45px
      @include font-20
      font-weight: bold
  .otzovik_card
    width: auto
    margin: 50px auto 0
  .footer_nav__list a
    transition: all .4s
    &:hover
      background-color: rgba(0, 0, 0, .03)
      border-radius: 5px
            