@media (min-width: 1366px)
  @import ../generic/common/common-1366_media
  .header
    &_nav__contacts
      min-width: 165px
      margin-right: 20px
    & .btn
      display: block
      max-width: 200px
  .firstscreen .white_wave
    bottom: -150px
    left: 0