@media (min-width: 576px)
  @import ../generic/common/common-576_media
  .firstscreen
    & .section-title, &_desc
      max-width: 345px
  .otzovik_card
    width: 245px
  .main-404
    background-image: url(assets/img/404-bg_img_m.jpg)
  .text-404
    &::before, &::after
      width: 120px
    &::before
      left: -140px
    &::after
      right: -140px
  .content-404
    max-width: 360px
    font-size: 190px
  