@media (min-width: 768px)
  @import ../generic/common/common-768_media
  .firstscreen
    padding: 120px 0
    background: url(assets/img/bg_promo-m.jpg) center/cover no-repeat
    &-content
      padding-right: 25px
    &_desc
      margin-bottom: 30px
      text-align: left
    &-form
      padding: 0
      position: relative
      right: auto
      bottom: auto
      left: auto
    & .white_wave
      left: -250px
  .download
    padding-top: 40px
    & .btn
      margin-left: 0
  .footer
    &_logo
      order: 1
    &_nav
      order: 3
      padding-bottom: 0
      & a
        margin-bottom: 0
    &_social
      order: 2
    &_copy
      order: 4
      margin-top: 35px
  

  .modal
    &-content
      max-width: 475px
      position: relative
    &_close
      margin: 0
      position: absolute
      top: 5px
      right: -30px
    &-body
      padding: 40px 55px 60px
