@media (min-width: 992px)
  @import ../generic/common/common-992_media
  .firstscreen-content
    padding-right: 90px
  .download
    &_pic, &-content
      max-width: 370px
  .otzovik_card
    width: 315px
  .footer
    &_nav
      order: 2
      padding: 15px 10px 0
    &_social
      order: 3

  #page-404
    & .header_nav__contacts
      &-tel, &-time
        color: #fff
  .main-404
    background-image: url(assets/img/404-bg_img_o.jpg)
  .text-404
    &::before, &::after
      width: 260px
    &::before
      left: -285px
    &::after
      right: -285px
  .content-404
    max-width: 650px
    font-size: 330px
        