/* 404 start

.main-404
  background: url(assets/img/404-bg_img_s.jpg) center/cover no-repeat
.container-404
  min-height: 100vh
  padding-top: 90px
  background-color: rgba(61, 207, 194, 0.85)
.text-404
  font: 500 18px/24px $font-basic
  color: #fff
  position: relative
  &::before, &::after
    content: ''
    display: block
    width: 96px
    height: 1px
    background-color: #fff
    position: absolute
    top: 50%
  &::before
    left: -110px
  &::after
    right: -110px
.content-404
  max-width: 290px
  width: 100%
  margin-bottom: 35px
  padding: 10px 0 20px
  border-bottom: 1px solid #fff
  font: bold 150px/1 $font-basic
  text-align: center
  color: #fff
.btn-404
  text-decoration: none
  text-align: center

/* 404 end