/* Download start

.download
  padding-bottom: 40px
  &_pic
    display: block
    max-width: 320px
    margin: 0 auto 15px
  &-content
    max-width: 320px
    margin: 0 auto
  & .section-title
    text-align: left
  &_desc
    margin: 15px auto 30px
    @include font-16
    font-weight: 500
  & .btn
    text-decoration: none

/*Download end