/* Elementor template start

#page-privacy .header
  background-color: rgba(61, 207, 194, 0.85)

.policy-desc
  max-width: 830px
  margin: 0 auto

.main-elementor
  max-width: 1140px
  min-height: calc( 100vh - 310px )
  margin: 0 auto
  padding: 90px 0 50px
  & p
    padding-bottom: 15px

.page-title
  padding: 25px 0
  font: bold 26px/34px Manrope
  text-align: center

.wp-block-group
  padding: 10px 0
  border-bottom: 1px solid #343434
  &__inner-container
    & h4
      padding: 10px 0 15px
      font: 600 18px/24px $font-basic
    & p
      padding-bottom: 10px
    & ul
      padding-bottom: 10px
      padding-left: 20px
      list-style: disc

/* Elementor template end