/* Firstscreen start

.firstscreen
  padding: 100px 0
  overflow: hidden
  position: relative
  &::before
    content: ""
    @include bg_gradient(90deg)
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
  & .container
    position: relative
    z-index: 3
  & .section-title
    max-width: 265px
    margin: 0 auto
    font: bold 26px/36px $font-basic
    color: #fff
    text-align: left
  &_desc
    max-width: 265px
    margin: 15px auto 570px
    @include font-20
    font-weight: bold
    text-align: center
    color: #fff
  &_list__wrap
    max-width: 320px
    margin: 0 auto
    & li
      padding: 10px 5px 10px 70px
      @include font-16
      font-weight: 500
      position: relative
      &::before
        content: ""
        display: block
        width: 50px
        height: 50px
        background: url(assets/img/sprite-addons.png) 0 0 no-repeat
        position: absolute
        top: 10px
        left: 0
      &:nth-child(2)::before
        background-position-x: -50px
      &:nth-child(3)::before
        background-position-x: -100px
      &:nth-child(4)::before
        background-position-x: -150px
  &-form
    padding: 0 15px
    position: absolute
    right: 0
    bottom: 390px
    left: 0
  & .section-board
    max-width: 360px
    box-shadow: $shadow-black_light
    &_form
      margin-top: 0
      padding: 0
      & input
        margin-top: 20px
        background-color: #fff
        &[name="date"], &[name="time"]
          cursor: pointer
      &__agree
        max-width: 200px
        margin: 20px auto 0
        font: 500 12px/16px $font-basic
        text-align: center
    &_time
      &-wrap
        position: relative
        & input
          position: relative
          z-index: 5
      &__list
        max-width: 285px
        width: 100%
        margin: 0 auto
        background-color: #f6f6f8
        box-shadow: inset 0px 0px 4px rgba(0, 0, 0, .25)
        border-radius: 10px
        overflow: hidden
        transition: all .4s
        position: absolute
        top: 0
        right: 0
        left: 0
        bottom: 0
        z-index: 4
        &.show
          bottom: -78px
          z-index: 6
        & li
          padding: 10px 20px
          background: transparent
          border-radius: 10px
          transition: all .4s
          &:hover
            cursor: pointer
            background: rgba(255, 255, 255, .6)

/* Firstscreen end