/* Otzovik start

.otzovik
  padding: 0 25px 115px
  &_card
    margin-top: 50px
    &__pic
      display: block
      margin-bottom: 15px
      &-yell, &-apoi
        width: 130px
      &-pro
        width: 225px
      &-otzyv
        width: 205px
    &__rate
      display: flex
      align-items: center
      justify-content: space-between
      width: 120px
      &-rank
        padding-top: 1px

/* Otzovik end