/* ----- Generic ----- */
@font-face {
  font-family: 'Manrope';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
  src: local("Manrope-Light"), url("assets/fonts/Manrope-Light.woff2") format("woff2"), url("assets/fonts/Manrope-Light.woff") format("woff"); }

@font-face {
  font-family: 'Manrope';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
  src: local("Manrope-Regular"), url("assets/fonts/Manrope-Regular.woff2") format("woff2"), url("assets/fonts/Manrope-Regular.woff") format("woff"); }

@font-face {
  font-family: 'Manrope';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
  src: local("Manrope-Medium"), url("assets/fonts/Manrope-Medium.woff2") format("woff2"), url("assets/fonts/Manrope-Medium.woff") format("woff"); }

@font-face {
  font-family: 'Manrope';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
  src: local("Manrope-SemiBold"), url("assets/fonts/Manrope-SemiBold.woff2") format("woff2"), url("assets/fonts/Manrope-SemiBold.woff") format("woff"); }

@font-face {
  font-family: 'Manrope';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
  src: local("Manrope-Bold"), url("assets/fonts/Manrope-Bold.woff2") format("woff2"), url("assets/fonts/Manrope-Bold.woff") format("woff"); }

@font-face {
  font-family: 'Manrope';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
  src: local("Manrope-ExtraBold"), url("assets/fonts/Manrope-ExtraBold.woff2") format("woff2"), url("assets/fonts/Manrope-ExtraBold.woff") format("woff"); }

/* Colors */
/* Font */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  background-color: #fff; }

body {
  max-width: 1920px;
  margin: 0 auto;
  font: normal 16px/24px Manrope;
  color: #343434; }

input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font: normal 16px/24px Manrope;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s; }
  input:hover, input:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }
  input[type="submit"]:hover {
    cursor: pointer; }

input[type="number"]:hover, input[type="number"]:focus {
  -moz-appearance: number-input; }

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

button {
  display: block;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
  cursor: pointer;
  font: 400 16px/22px Manrope;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s; }
  button:focus {
    outline: none; }

ul {
  list-style: none; }

img {
  display: block;
  width: 100%; }

.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

.d-none {
  display: none; }

.d-block {
  display: block; }

.d-inline-block {
  display: inline-block; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.justify-content-around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.align-items-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.align-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.box-shadow {
  -webkit-box-shadow: 0px 4px 10px -8px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 10px -8px rgba(0, 0, 0, 0.5); }

.lazyload,
.lazyloading {
  opacity: 0; }

.lazyloaded {
  opacity: 1;
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  transition: opacity .4s; }

.opacity-loading {
  opacity: 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.opacity-loaded {
  opacity: 1;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.input-error {
  border: 1px solid #CE5227 !important; }

label.input-error {
  display: none !important; }

input[type="text"],
input[type="tel"],
input[type="date"],
input[type="time"] {
  display: block;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 15px 20px;
  background: transparent;
  border: 1px solid #A6ABBD;
  border-radius: 10px;
  font: 300 16px/22px Manrope; }

.white_wave, .block_wave {
  position: absolute;
  bottom: -1px;
  left: -620px;
  z-index: 2; }
  .white_wave svg, .block_wave svg {
    display: block; }

.white_wave {
  bottom: -175px;
  left: -380px; }

.section-title {
  font: bold 26px/36px Manrope;
  color: #000;
  text-align: center; }

.btn {
  display: block;
  max-width: 260px;
  width: 100%;
  margin: 0 auto;
  padding: 15px 35px;
  border: 2px solid #CE5227;
  border-radius: 50px;
  color: #fff;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  background: -o-linear-gradient(129.34deg, #AF3B13 14.75%, #CE5227 84.81%);
  background: linear-gradient(320.66deg, #AF3B13 14.75%, #CE5227 84.81%); }
  .btn-transparent {
    display: block;
    max-width: 260px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 35px;
    border: 2px solid #CE5227;
    border-radius: 50px;
    color: #fff;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    font-weight: bold;
    color: #CE5227; }
  .btn:hover, .btn-transparent:hover {
    -webkit-box-shadow: 0 0 10px rgba(166, 171, 189, 0.9);
            box-shadow: 0 0 10px rgba(166, 171, 189, 0.9); }

.btn-select {
  display: block;
  max-width: 310px;
  width: 100%;
  margin: 0 auto;
  padding: 15px 30px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACvSURBVHgBjZCxDoJADIbbhkEIgzyJr+KrujnCBhujTmjCA1wCIRwJ1HbAeOjJ/UmTXtuv1xZBxMxHCBAiGrSWz0RwCgPgRlJsIFDMYCiKoBRoDCnue6hI5hqthWIPmCYosgwN6SNJsJQOz3/d0xRr9WkNzjPkPkByl9V/A3GMj2WB+7ZYLlNr7gtQDQNctwfoOnc/B9Cl5JfqI5RrzAuo9My6pFrbOrBfTcMHtV+5F1zqSGQxyWFDAAAAAElFTkSuQmCC"), -o-linear-gradient(315deg, #f3af0f 0%, #f1a208 100%);
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACvSURBVHgBjZCxDoJADIbbhkEIgzyJr+KrujnCBhujTmjCA1wCIRwJ1HbAeOjJ/UmTXtuv1xZBxMxHCBAiGrSWz0RwCgPgRlJsIFDMYCiKoBRoDCnue6hI5hqthWIPmCYosgwN6SNJsJQOz3/d0xRr9WkNzjPkPkByl9V/A3GMj2WB+7ZYLlNr7gtQDQNctwfoOnc/B9Cl5JfqI5RrzAuo9My6pFrbOrBfTcMHtV+5F1zqSGQxyWFDAAAAAElFTkSuQmCC"), linear-gradient(135deg, #f3af0f 0%, #f1a208 100%);
  background-repeat: no-repeat;
  background-position: right 25px top 20px, 0 0;
  -webkit-box-shadow: -2.5px -2.5px 5px #FAFBFF, 2.5px 2.5px 5px rgba(166, 171, 189, 0.5);
          box-shadow: -2.5px -2.5px 5px #FAFBFF, 2.5px 2.5px 5px rgba(166, 171, 189, 0.5);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none; }
  .btn-select:focus {
    outline: none; }

.btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .btn-list li {
    margin: 0 10px 15px;
    padding: 10px 20px;
    background: -o-linear-gradient(132.3deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #FFFFFF;
    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #FFFFFF;
    background-blend-mode: soft-light, normal;
    -webkit-box-shadow: -2.5px -2.5px 5px #FAFBFF, 2.5px 2.5px 5px rgba(166, 171, 189, 0.5);
            box-shadow: -2.5px -2.5px 5px #FAFBFF, 2.5px 2.5px 5px rgba(166, 171, 189, 0.5);
    border-radius: 10px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    cursor: default;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    color: #3DCFC2; }
    .btn-list li.active {
      background: -o-linear-gradient(132.3deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #F1A208;
      background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #F1A208;
      color: #000; }

.icon-play {
  display: block;
  width: 50px;
  height: 50px;
  background: -o-linear-gradient(129.34deg, #AF3B13 14.75%, #CE5227 84.81%);
  background: linear-gradient(320.66deg, #AF3B13 14.75%, #CE5227 84.81%);
  border-radius: 100%;
  position: absolute;
  top: calc( 50% - 25px);
  left: calc( 50% - 25px); }
  .icon-play i {
    display: block;
    width: 18px;
    height: 20px;
    background: url(assets/img/icon-play.png) center/cover no-repeat;
    position: absolute;
    top: calc( 50% - 10px);
    left: calc( 50% - 8px); }

.opacity .icon-play {
  display: none; }

.btn-top {
  background: -webkit-gradient(linear, right top, left top, color-stop(15%, rgba(0, 191, 175, 0.7)), color-stop(70%, #8de9d5));
  background: -o-linear-gradient(right, rgba(0, 191, 175, 0.7) 15%, #8de9d5 70%);
  background: linear-gradient(to left, rgba(0, 191, 175, 0.7) 15%, #8de9d5 70%); }
  .btn-top a {
    display: block;
    margin: 0 auto;
    padding: 25px 0 25px 25px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #049E91;
    text-decoration: none;
    position: relative; }
    .btn-top a::before {
      content: "\2191";
      font-size: 24px;
      position: absolute;
      top: calc( 50% - 12px);
      left: 0; }

/* Section board start */
.section-board {
  width: 100%;
  margin: 0 auto;
  padding: 40px 15px 50px;
  background-color: #FFF;
  border-radius: 5px; }
  .section-board_title {
    font: bold 20px/27px Manrope;
    text-align: center; }
  .section-board_card {
    padding: 0 5px 25px; }
    .section-board_card-wrap {
      width: 100%; }
    .section-board_card__title {
      width: 100%;
      padding-bottom: 13px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 700; }
    .section-board_card__radio {
      display: none; }
    .section-board_card__label {
      display: block;
      padding: 5px 0 5px 35px;
      font-size: 13px;
      font-weight: 500;
      position: relative; }
      .section-board_card__label::before {
        content: "";
        display: block;
        width: 27px;
        height: 27px;
        border: 1px solid #F1A208;
        border-radius: 100%;
        position: absolute;
        top: 3px;
        left: 0; }
    .section-board_card__radio:checked ~ .section-board_card__label::before {
      background-color: #F1A208; }
    .section-board_card__select {
      display: block;
      max-width: 245px;
      width: 100%;
      padding: 10px 15px;
      background-color: #fff;
      border: 1px solid #a6abbd;
      border-radius: 10px;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      font: 500 14px/20px Manrope;
      color: #343434; }
      .section-board_card__select:focus {
        outline: none; }
  .section-board_form {
    width: 100%;
    margin-top: 30px;
    padding: 30px 10px;
    border-radius: 5px; }
  .section-board input {
    max-width: 285px; }
  .section-board input[type="number"] {
    width: 85px;
    padding: 10px;
    background: -o-linear-gradient(132.3deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #EBEBEB;
    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #EBEBEB;
    background-blend-mode: soft-light, normal;
    border: 0.55892px solid rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: inset -1.11783px -1.11783px 4.47134px #FAFBFF, inset 1.11783px 1.11783px 5.58917px #A6ABBD;
            box-shadow: inset -1.11783px -1.11783px 4.47134px #FAFBFF, inset 1.11783px 1.11783px 5.58917px #A6ABBD;
    border-radius: 10px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    text-align: right; }
  .section-board .btn:hover {
    cursor: pointer; }

/* Section board end */
/* Slick slider start */
.slick-loading .slick-list {
  background: #fff url(assets/img/ajax-loader.gif); }

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 240px;
  bottom: -28px;
  left: calc( 50% - 120px); }
  .slick-dots li {
    width: auto;
    height: 4px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin: 0 3.5px; }
    .slick-dots li button {
      width: 100%;
      height: 100%;
      padding: 0;
      background: #fff;
      border-radius: 10px; }
      .slick-dots li button::before {
        display: none; }
    .slick-dots li.slick-active button {
      background-color: #F1A208 !important; }

.slick-slide:focus {
  outline: none; }

.slick-arrow {
  width: 22px;
  height: 40px;
  position: absolute;
  top: calc( 50% - 20px); }
  .slick-arrow::before, .slick-arrow::after {
    content: "";
    width: 2px;
    height: 25px;
    background-color: #fff;
    position: absolute; }
  .slick-arrow-prev {
    left: 0; }
    .slick-arrow-prev::before {
      left: 10px;
      top: -1px;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .slick-arrow-prev::after {
      left: 10px;
      bottom: -1px;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
  .slick-arrow-next {
    right: 0; }
    .slick-arrow-next::before {
      right: 10px;
      top: -1px;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    .slick-arrow-next::after {
      right: 10px;
      bottom: -1px;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }

/* Slick slider end */
/* ----- Components ----- */
/* Header start */
.header {
  width: 100%;
  background-color: transparent;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8; }
  .header .container {
    padding-top: 30px;
    padding-bottom: 15px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s; }
  .header-top {
    width: 140px;
    padding: 5px 15px;
    background-color: #F1A208;
    font-size: 12px;
    line-height: 16px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    position: absolute;
    top: 0;
    left: calc( 50% - 70px); }
  .header.box-shadow {
    background-color: rgba(61, 207, 194, 0.85);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px); }
    .header.box-shadow .container {
      padding-top: 10px; }
  .header.box-shadow .header-top {
    top: -26px; }
  .header .custom-logo-link {
    display: block;
    width: 109px;
    height: 44px; }
    .header .custom-logo-link img {
      height: 100%; }
  .header_phone {
    width: 40px;
    height: 40px;
    margin: 0 20px 0 auto;
    background-color: #CE5227;
    border-radius: 100%; }
    .header_phone i {
      display: block;
      width: 18px;
      height: 18px;
      background: url(assets/img/icon-phone.png) center/cover no-repeat; }
  .header-without-navigation .header_phone {
    margin-right: 0; }
  .header_burger {
    width: 35px;
    height: 33px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    position: relative;
    z-index: 10; }
    .header_burger__line {
      display: block;
      width: 100%;
      height: 3px;
      margin: 4px auto;
      background-color: #fff;
      border-radius: 10px; }
    .header_burger.open .header_burger__line {
      margin: 0;
      -webkit-transition: all .4s;
      -o-transition: all .4s;
      transition: all .4s;
      position: absolute;
      top: calc( 50% - 1.5px);
      left: 0; }
      .header_burger.open .header_burger__line-1 {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
      .header_burger.open .header_burger__line-2 {
        display: none; }
      .header_burger.open .header_burger__line-3 {
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }
  .header_nav {
    display: none;
    width: 100%;
    padding: 80px 30px 50px;
    background-color: #3DCFC2;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9; }
    .header_nav__list {
      margin-bottom: 30px; }
      .header_nav__list a {
        display: block;
        padding: 8px 0;
        color: #000;
        font-weight: 500;
        text-decoration: none;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s; }
    .header_nav__contacts-tel {
      font-size: 18px;
      line-height: 24px;
      font-weight: 500;
      color: #fff; }
    .header_nav__btn {
      display: none; }

/* Header end */
/* Firstscreen start */
.firstscreen {
  padding: 100px 0;
  overflow: hidden;
  position: relative; }
  .firstscreen::before {
    content: "";
    background: -webkit-gradient(linear, left top, right top, color-stop(15%, rgba(0, 191, 175, 0.7)), color-stop(70%, #8de9d5));
    background: -o-linear-gradient(left, rgba(0, 191, 175, 0.7) 15%, #8de9d5 70%);
    background: linear-gradient(90deg, rgba(0, 191, 175, 0.7) 15%, #8de9d5 70%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .firstscreen .container {
    position: relative;
    z-index: 3; }
  .firstscreen .section-title {
    max-width: 265px;
    margin: 0 auto;
    font: bold 26px/36px Manrope;
    color: #fff;
    text-align: left; }
  .firstscreen_desc {
    max-width: 265px;
    margin: 15px auto 570px;
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    color: #fff; }
  .firstscreen_list__wrap {
    max-width: 320px;
    margin: 0 auto; }
    .firstscreen_list__wrap li {
      padding: 10px 5px 10px 70px;
      font-size: 16px;
      line-height: 22px;
      font-weight: 500;
      position: relative; }
      .firstscreen_list__wrap li::before {
        content: "";
        display: block;
        width: 50px;
        height: 50px;
        background: url(assets/img/sprite-addons.png) 0 0 no-repeat;
        position: absolute;
        top: 10px;
        left: 0; }
      .firstscreen_list__wrap li:nth-child(2)::before {
        background-position-x: -50px; }
      .firstscreen_list__wrap li:nth-child(3)::before {
        background-position-x: -100px; }
      .firstscreen_list__wrap li:nth-child(4)::before {
        background-position-x: -150px; }
  .firstscreen-form {
    padding: 0 15px;
    position: absolute;
    right: 0;
    bottom: 390px;
    left: 0; }
  .firstscreen .section-board {
    max-width: 360px;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
    .firstscreen .section-board_form {
      margin-top: 0;
      padding: 0; }
      .firstscreen .section-board_form input {
        margin-top: 20px;
        background-color: #fff; }
        .firstscreen .section-board_form input[name="date"], .firstscreen .section-board_form input[name="time"] {
          cursor: pointer; }
      .firstscreen .section-board_form__agree {
        max-width: 200px;
        margin: 20px auto 0;
        font: 500 12px/16px Manrope;
        text-align: center; }
    .firstscreen .section-board_time-wrap {
      position: relative; }
      .firstscreen .section-board_time-wrap input {
        position: relative;
        z-index: 5; }
    .firstscreen .section-board_time__list {
      max-width: 285px;
      width: 100%;
      margin: 0 auto;
      background-color: #f6f6f8;
      -webkit-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
              box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      overflow: hidden;
      -webkit-transition: all .4s;
      -o-transition: all .4s;
      transition: all .4s;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 4; }
      .firstscreen .section-board_time__list.show {
        bottom: -78px;
        z-index: 6; }
      .firstscreen .section-board_time__list li {
        padding: 10px 20px;
        background: transparent;
        border-radius: 10px;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s; }
        .firstscreen .section-board_time__list li:hover {
          cursor: pointer;
          background: rgba(255, 255, 255, 0.6); }

/* Firstscreen end */
/* Download start */
.download {
  padding-bottom: 40px; }
  .download_pic {
    display: block;
    max-width: 320px;
    margin: 0 auto 15px; }
  .download-content {
    max-width: 320px;
    margin: 0 auto; }
  .download .section-title {
    text-align: left; }
  .download_desc {
    margin: 15px auto 30px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500; }
  .download .btn {
    text-decoration: none; }

/*Download end */
/* Otzovik start */
.otzovik {
  padding: 0 25px 115px; }
  .otzovik_card {
    margin-top: 50px; }
    .otzovik_card__pic {
      display: block;
      margin-bottom: 15px; }
      .otzovik_card__pic-yell, .otzovik_card__pic-apoi {
        width: 130px; }
      .otzovik_card__pic-pro {
        width: 225px; }
      .otzovik_card__pic-otzyv {
        width: 205px; }
    .otzovik_card__rate {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 120px; }
      .otzovik_card__rate-rank {
        padding-top: 1px; }

/* Otzovik end */
/* Footer start */
.footer {
  padding: 55px 0 35px; }
  .footer_logo {
    display: block;
    width: 140px; }
  .footer_nav {
    padding: 25px 0; }
    .footer_nav a {
      display: inline-block;
      margin: 0 5px 10px;
      padding: 5px;
      font-size: 16px;
      line-height: 22px;
      font-weight: 600;
      color: #049E91;
      text-decoration: none; }
  .footer_social {
    padding: 0 5px; }
    .footer_social__item {
      padding: 0 5px; }
      .footer_social__item a {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-image: url(assets/img/sprite.png);
        background-position-y: -90px;
        background-repeat: no-repeat; }
      .footer_social__item-fb {
        background-position-x: 0; }
      .footer_social__item-inst {
        background-position-x: -40px; }
  .footer_copy {
    width: 100%;
    margin-top: 20px;
    font-size: 12px;
    line-height: 16px; }
    .footer_copy a {
      color: #000; }

#page-success .footer,
#page-privacy .footer,
#page-404 .footer {
  padding-top: 30px; }
  #page-success .footer_logo,
  #page-privacy .footer_logo,
  #page-404 .footer_logo {
    margin-bottom: 25px; }

/* Footer end */
/* Modals start */
.modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50; }
  .modal-open {
    overflow: hidden; }
  .modal-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    min-height: -moz-available;
    min-height: stretch; }
  .modal-content {
    max-width: 320px;
    width: 100%;
    margin: 0 auto; }
  .modal-body {
    max-height: calc( 100vh - 60px);
    padding: 40px 20px;
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow-y: auto; }
  .modal_close {
    width: 20px;
    height: 20px;
    margin: 10px 5px 10px auto;
    position: relative; }
    .modal_close::before, .modal_close::after {
      content: "";
      width: 20px;
      height: 2px;
      border-radius: 10px;
      background-color: #c4c4c4;
      position: absolute;
      top: calc( 50% - 1px);
      left: 0; }
    .modal_close::before {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .modal_close::after {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
  .modal_title {
    font: bold 20px/27px Manrope;
    color: #049E91;
    text-align: center; }
  .modal_info {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    text-align: center; }
    .modal_info__title {
      margin: 20px 0; }
  .modal_form .modal_form__input {
    margin-top: 30px;
    border-radius: 5px; }
  .modal_form__consent {
    margin: 30px auto;
    font: 500 12px/16px Manrope;
    text-align: center; }
  .modal-pricing_title {
    font: bold 20px/27px Manrope; }
  .modal-pricing_info__title {
    margin: 25px 0 10px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600; }
  .modal-pricing_info__list li {
    padding-left: 10px;
    font-size: 14px;
    line-height: 20px;
    position: relative; }
    .modal-pricing_info__list li::before {
      content: "-";
      position: absolute;
      top: 0;
      left: 0; }
  .modal-pricing_info__desc {
    padding-left: 10px;
    font-size: 14px;
    line-height: 20px; }

/* Modals end */
/* Elementor template start */
#page-privacy .header {
  background-color: rgba(61, 207, 194, 0.85); }

.policy-desc {
  max-width: 830px;
  margin: 0 auto; }

.main-elementor {
  max-width: 1140px;
  min-height: calc( 100vh - 310px);
  margin: 0 auto;
  padding: 90px 0 50px; }
  .main-elementor p {
    padding-bottom: 15px; }

.page-title {
  padding: 25px 0;
  font: bold 26px/34px Manrope;
  text-align: center; }

.wp-block-group {
  padding: 10px 0;
  border-bottom: 1px solid #343434; }
  .wp-block-group__inner-container h4 {
    padding: 10px 0 15px;
    font: 600 18px/24px Manrope; }
  .wp-block-group__inner-container p {
    padding-bottom: 10px; }
  .wp-block-group__inner-container ul {
    padding-bottom: 10px;
    padding-left: 20px;
    list-style: disc; }

/* Elementor template end */
/* 404 start */
.main-404 {
  background: url(assets/img/404-bg_img_s.jpg) center/cover no-repeat; }

.container-404 {
  min-height: 100vh;
  padding-top: 90px;
  background-color: rgba(61, 207, 194, 0.85); }

.text-404 {
  font: 500 18px/24px Manrope;
  color: #fff;
  position: relative; }
  .text-404::before, .text-404::after {
    content: '';
    display: block;
    width: 96px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 50%; }
  .text-404::before {
    left: -110px; }
  .text-404::after {
    right: -110px; }

.content-404 {
  max-width: 290px;
  width: 100%;
  margin-bottom: 35px;
  padding: 10px 0 20px;
  border-bottom: 1px solid #fff;
  font: bold 150px/1 Manrope;
  text-align: center;
  color: #fff; }

.btn-404 {
  text-decoration: none;
  text-align: center; }

/* 404 end */
/* ----- Media ----- */
@media (min-width: 576px) {
  .container {
    max-width: 540px; }
  .d-sm-inline-block {
    display: inline-block !important; }
  .d-sm-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  .flex-sm-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .flex-sm-row {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important; }
  .justify-content-sm-end {
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: flex-end !important; }
  .justify-content-sm-center {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important; }
  .justify-content-sm-around {
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important; }
  .justify-content-sm-between {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important; }
  .align-items-sm-end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .firstscreen .section-title, .firstscreen_desc {
    max-width: 345px; }
  .otzovik_card {
    width: 245px; }
  .main-404 {
    background-image: url(assets/img/404-bg_img_m.jpg); }
  .text-404::before, .text-404::after {
    width: 120px; }
  .text-404::before {
    left: -140px; }
  .text-404::after {
    right: -140px; }
  .content-404 {
    max-width: 360px;
    font-size: 190px; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; }
  .d-md-none {
    display: none !important; }
  .d-md-inline-block {
    display: inline-block !important; }
  .d-md-block {
    display: block !important; }
  .d-md-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  .flex-md-wrap {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important; }
  .justify-content-md-center {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important; }
  .justify-content-md-between {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important; }
  .align-items-md-center {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important; }
  .align-items-md-end {
    -webkit-box-align: end !important;
        -ms-flex-align: end !important;
            align-items: flex-end !important; }
  .firstscreen {
    padding: 120px 0;
    background: url(assets/img/bg_promo-m.jpg) center/cover no-repeat; }
    .firstscreen-content {
      padding-right: 25px; }
    .firstscreen_desc {
      margin-bottom: 30px;
      text-align: left; }
    .firstscreen-form {
      padding: 0;
      position: relative;
      right: auto;
      bottom: auto;
      left: auto; }
    .firstscreen .white_wave {
      left: -250px; }
  .download {
    padding-top: 40px; }
    .download .btn {
      margin-left: 0; }
  .footer_logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .footer_nav {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding-bottom: 0; }
    .footer_nav a {
      margin-bottom: 0; }
  .footer_social {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .footer_copy {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin-top: 35px; }
  .modal-content {
    max-width: 475px;
    position: relative; }
  .modal_close {
    margin: 0;
    position: absolute;
    top: 5px;
    right: -30px; }
  .modal-body {
    padding: 40px 55px 60px; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; }
  .d-lg-none {
    display: none !important; }
  .d-lg-block {
    display: block !important; }
  .d-lg-inline-block {
    display: inline-block !important; }
  .d-lg-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  .flex-lg-wrap {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important; }
  .flex-lg-column-reverse {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important; }
  .flex-lg-row-revers {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: row-reverse !important;
            flex-direction: row-reverse !important; }
  .justify-content-lg-start {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important; }
  .justify-content-lg-around {
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important; }
  .justify-content-lg-center {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important; }
  .justify-content-lg-between {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important; }
  .align-items-lg-center {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important; }
  .align-items-lg-end {
    -webkit-box-align: end !important;
        -ms-flex-align: end !important;
            align-items: flex-end !important; }
  .text-lg-center {
    text-align: center !important; }
  .section-title {
    font-size: 34px;
    line-height: 40px; }
  .firstscreen-content {
    padding-right: 90px; }
  .download_pic, .download-content {
    max-width: 370px; }
  .otzovik_card {
    width: 315px; }
  .footer_nav {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 15px 10px 0; }
  .footer_social {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  #page-404 .header_nav__contacts-tel, #page-404 .header_nav__contacts-time {
    color: #fff; }
  .main-404 {
    background-image: url(assets/img/404-bg_img_o.jpg); }
  .text-404::before, .text-404::after {
    width: 260px; }
  .text-404::before {
    left: -285px; }
  .text-404::after {
    right: -285px; }
  .content-404 {
    max-width: 650px;
    font-size: 330px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px; }
  .d-xl-none {
    display: none !important; }
  .d-xl-block {
    display: block; }
  .d-xl-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .flex-xl-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .flex-xl-nowrap {
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important; }
  .flex-xl-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .flex-xl-column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  .flex-xl-row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  .justify-content-xl-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .justify-content-xl-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .justify-content-xl-around {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .justify-content-xl-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .align-items-xl-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .align-items-xl-end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .align-items-xl-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .slick-arrow {
    width: 22px;
    height: 40px;
    position: absolute;
    top: calc( 50% - 20px); }
    .slick-arrow::before, .slick-arrow::after {
      content: "";
      width: 2px;
      height: 25px;
      background-color: #fff;
      position: absolute; }
    .slick-arrow-prev {
      left: 0; }
      .slick-arrow-prev::before {
        left: 10px;
        top: -1px;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
      .slick-arrow-prev::after {
        left: 10px;
        bottom: -1px;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }
    .slick-arrow-next {
      right: 0; }
      .slick-arrow-next::before {
        right: 10px;
        top: -1px;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }
      .slick-arrow-next::after {
        right: 10px;
        bottom: -1px;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
  /* Header start */
  .header-top {
    left: calc( 50% - 415px); }
  .header .custom-logo-link {
    width: 160px;
    height: 57px; }
  .header_nav {
    padding: 0;
    background-color: transparent;
    position: static; }
    .header_nav__list {
      margin: 0 auto;
      padding: 0 10px; }
      .header_nav__list a {
        padding: 5px;
        margin: 0 5px;
        color: #03776D;
        font-weight: 600; }
        .header_nav__list a:hover {
          background-color: rgba(255, 255, 255, 0.2);
          border-radius: 5px; }
    .header_nav__contacts {
      color: #03776D; }
      .header_nav__contacts-time {
        font-size: 12px;
        line-height: 16px; }
      .header_nav__contacts-tel {
        color: #03776D;
        font-weight: 600;
        text-decoration: none; }
  /* Header end */
  .firstscreen {
    padding-top: 150px; }
    .firstscreen .section-title {
      font-size: 40px;
      line-height: 55px;
      max-width: 530px; }
    .firstscreen_desc {
      max-width: 530px;
      margin-bottom: 50px; }
    .firstscreen_list__title {
      margin-bottom: 30px;
      font-size: 20px;
      line-height: 26px;
      font-weight: bold; }
    .firstscreen_list__wrap {
      max-width: 465px;
      margin-left: 0; }
    .firstscreen .section-board {
      max-width: 430px;
      padding: 40px 50px 60px; }
      .firstscreen .section-board input {
        max-width: 350px;
        margin-top: 30px; }
      .firstscreen .section-board_time__list {
        max-width: 350px; }
  .download {
    padding-top: 80px; }
    .download_pic {
      max-width: 450px;
      margin-right: 50px; }
    .download-content {
      max-width: 435px;
      margin-left: 50px;
      padding-top: 50px; }
    .download_desc {
      margin: 20px 0 45px;
      font-size: 20px;
      line-height: 26px;
      font-weight: bold; }
  .otzovik_card {
    width: auto;
    margin: 50px auto 0; }
  .footer_nav__list a {
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s; }
    .footer_nav__list a:hover {
      background-color: rgba(0, 0, 0, 0.03);
      border-radius: 5px; } }

@media (min-width: 1366px) {
  .container {
    max-width: 1320px; }
  .d-xxl-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .justify-content-xxl-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .align-items-xxl-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .section-title {
    font-size: 40px;
    line-height: 55px; }
  .block_wave {
    left: 0 !important;
    right: auto; }
  .icon-play {
    width: 90px;
    height: 90px;
    top: calc( 50% - 45px); }
    .icon-play i {
      width: 39px;
      height: 44px;
      top: calc( 50% - 21px);
      left: calc( 50% - 16px); }
  .header_nav__contacts {
    min-width: 165px;
    margin-right: 20px; }
  .header .btn {
    display: block;
    max-width: 200px; }
  .firstscreen .white_wave {
    bottom: -150px;
    left: 0; } }

/*# sourceMappingURL=style-addons.css.map */
