/*
 * Theme Name: Flagman Summer 2021
 * Author: Korolev Kirill
 * Version: 1.0.0
 */
/* ----- Generic ----- */
@font-face {
  font-family: 'Manrope';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
  src: local("Manrope-Light"), url("assets/fonts/Manrope-Light.woff2") format("woff2"), url("assets/fonts/Manrope-Light.woff") format("woff"); }

@font-face {
  font-family: 'Manrope';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
  src: local("Manrope-Regular"), url("assets/fonts/Manrope-Regular.woff2") format("woff2"), url("assets/fonts/Manrope-Regular.woff") format("woff"); }

@font-face {
  font-family: 'Manrope';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
  src: local("Manrope-Medium"), url("assets/fonts/Manrope-Medium.woff2") format("woff2"), url("assets/fonts/Manrope-Medium.woff") format("woff"); }

@font-face {
  font-family: 'Manrope';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
  src: local("Manrope-SemiBold"), url("assets/fonts/Manrope-SemiBold.woff2") format("woff2"), url("assets/fonts/Manrope-SemiBold.woff") format("woff"); }

@font-face {
  font-family: 'Manrope';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
  src: local("Manrope-Bold"), url("assets/fonts/Manrope-Bold.woff2") format("woff2"), url("assets/fonts/Manrope-Bold.woff") format("woff"); }

@font-face {
  font-family: 'Manrope';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
  src: local("Manrope-ExtraBold"), url("assets/fonts/Manrope-ExtraBold.woff2") format("woff2"), url("assets/fonts/Manrope-ExtraBold.woff") format("woff"); }

/* Colors */
/* Font */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  background-color: #fff; }

body {
  max-width: 1920px;
  margin: 0 auto;
  font: normal 16px/24px Manrope;
  color: #343434; }

input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font: normal 16px/24px Manrope;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s; }
  input:hover, input:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }
  input[type="submit"]:hover {
    cursor: pointer; }

input[type="number"]:hover, input[type="number"]:focus {
  -moz-appearance: number-input; }

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

button {
  display: block;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
  cursor: pointer;
  font: 400 16px/22px Manrope;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s; }
  button:focus {
    outline: none; }

ul {
  list-style: none; }

img {
  display: block;
  width: 100%; }

.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

.d-none {
  display: none; }

.d-block {
  display: block; }

.d-inline-block {
  display: inline-block; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.justify-content-around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.align-items-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.align-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.box-shadow {
  -webkit-box-shadow: 0px 4px 10px -8px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 10px -8px rgba(0, 0, 0, 0.5); }

.lazyload,
.lazyloading {
  opacity: 0; }

.lazyloaded {
  opacity: 1;
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  transition: opacity .4s; }

.opacity-loading {
  opacity: 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.opacity-loaded {
  opacity: 1;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.input-error {
  border: 1px solid #CE5227 !important; }

label.input-error {
  display: none !important; }

input[type="text"],
input[type="tel"],
input[type="date"],
input[type="time"] {
  display: block;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 15px 20px;
  background: transparent;
  border: 1px solid #A6ABBD;
  border-radius: 10px;
  font: 300 16px/22px Manrope; }

.white_wave, .block_wave {
  position: absolute;
  bottom: -1px;
  left: -620px;
  z-index: 2; }
  .white_wave svg, .block_wave svg {
    display: block; }

.white_wave {
  bottom: -175px;
  left: -380px; }

.section-title {
  font: bold 26px/36px Manrope;
  color: #000;
  text-align: center; }

.btn {
  display: block;
  max-width: 260px;
  width: 100%;
  margin: 0 auto;
  padding: 15px 35px;
  border: 2px solid #CE5227;
  border-radius: 50px;
  color: #fff;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  background: -o-linear-gradient(129.34deg, #AF3B13 14.75%, #CE5227 84.81%);
  background: linear-gradient(320.66deg, #AF3B13 14.75%, #CE5227 84.81%); }
  .btn-transparent {
    display: block;
    max-width: 260px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 35px;
    border: 2px solid #CE5227;
    border-radius: 50px;
    color: #fff;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    font-weight: bold;
    color: #CE5227; }
  .btn:hover, .btn-transparent:hover {
    -webkit-box-shadow: 0 0 10px rgba(166, 171, 189, 0.9);
            box-shadow: 0 0 10px rgba(166, 171, 189, 0.9); }

.btn-select {
  display: block;
  max-width: 310px;
  width: 100%;
  margin: 0 auto;
  padding: 15px 30px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACvSURBVHgBjZCxDoJADIbbhkEIgzyJr+KrujnCBhujTmjCA1wCIRwJ1HbAeOjJ/UmTXtuv1xZBxMxHCBAiGrSWz0RwCgPgRlJsIFDMYCiKoBRoDCnue6hI5hqthWIPmCYosgwN6SNJsJQOz3/d0xRr9WkNzjPkPkByl9V/A3GMj2WB+7ZYLlNr7gtQDQNctwfoOnc/B9Cl5JfqI5RrzAuo9My6pFrbOrBfTcMHtV+5F1zqSGQxyWFDAAAAAElFTkSuQmCC"), -o-linear-gradient(315deg, #f3af0f 0%, #f1a208 100%);
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACvSURBVHgBjZCxDoJADIbbhkEIgzyJr+KrujnCBhujTmjCA1wCIRwJ1HbAeOjJ/UmTXtuv1xZBxMxHCBAiGrSWz0RwCgPgRlJsIFDMYCiKoBRoDCnue6hI5hqthWIPmCYosgwN6SNJsJQOz3/d0xRr9WkNzjPkPkByl9V/A3GMj2WB+7ZYLlNr7gtQDQNctwfoOnc/B9Cl5JfqI5RrzAuo9My6pFrbOrBfTcMHtV+5F1zqSGQxyWFDAAAAAElFTkSuQmCC"), linear-gradient(135deg, #f3af0f 0%, #f1a208 100%);
  background-repeat: no-repeat;
  background-position: right 25px top 20px, 0 0;
  -webkit-box-shadow: -2.5px -2.5px 5px #FAFBFF, 2.5px 2.5px 5px rgba(166, 171, 189, 0.5);
          box-shadow: -2.5px -2.5px 5px #FAFBFF, 2.5px 2.5px 5px rgba(166, 171, 189, 0.5);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none; }
  .btn-select:focus {
    outline: none; }

.btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .btn-list li {
    margin: 0 10px 15px;
    padding: 10px 20px;
    background: -o-linear-gradient(132.3deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #FFFFFF;
    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #FFFFFF;
    background-blend-mode: soft-light, normal;
    -webkit-box-shadow: -2.5px -2.5px 5px #FAFBFF, 2.5px 2.5px 5px rgba(166, 171, 189, 0.5);
            box-shadow: -2.5px -2.5px 5px #FAFBFF, 2.5px 2.5px 5px rgba(166, 171, 189, 0.5);
    border-radius: 10px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    cursor: default;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    color: #3DCFC2; }
    .btn-list li.active {
      background: -o-linear-gradient(132.3deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #F1A208;
      background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #F1A208;
      color: #000; }

.icon-play {
  display: block;
  width: 50px;
  height: 50px;
  background: -o-linear-gradient(129.34deg, #AF3B13 14.75%, #CE5227 84.81%);
  background: linear-gradient(320.66deg, #AF3B13 14.75%, #CE5227 84.81%);
  border-radius: 100%;
  position: absolute;
  top: calc( 50% - 25px);
  left: calc( 50% - 25px); }
  .icon-play i {
    display: block;
    width: 18px;
    height: 20px;
    background: url(assets/img/icon-play.png) center/cover no-repeat;
    position: absolute;
    top: calc( 50% - 10px);
    left: calc( 50% - 8px); }

.opacity .icon-play {
  display: none; }

.btn-top {
  background: -webkit-gradient(linear, right top, left top, color-stop(15%, rgba(0, 191, 175, 0.7)), color-stop(70%, #8de9d5));
  background: -o-linear-gradient(right, rgba(0, 191, 175, 0.7) 15%, #8de9d5 70%);
  background: linear-gradient(to left, rgba(0, 191, 175, 0.7) 15%, #8de9d5 70%); }
  .btn-top a {
    display: block;
    margin: 0 auto;
    padding: 25px 0 25px 25px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #049E91;
    text-decoration: none;
    position: relative; }
    .btn-top a::before {
      content: "\2191";
      font-size: 24px;
      position: absolute;
      top: calc( 50% - 12px);
      left: 0; }

/* Section board start */
.section-board {
  width: 100%;
  margin: 0 auto;
  padding: 40px 15px 50px;
  background-color: #FFF;
  border-radius: 5px; }
  .section-board_title {
    font: bold 20px/27px Manrope;
    text-align: center; }
  .section-board_card {
    padding: 0 5px 25px; }
    .section-board_card-wrap {
      width: 100%; }
    .section-board_card__title {
      width: 100%;
      padding-bottom: 13px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 700; }
    .section-board_card__radio {
      display: none; }
    .section-board_card__label {
      display: block;
      padding: 5px 0 5px 35px;
      font-size: 13px;
      font-weight: 500;
      position: relative; }
      .section-board_card__label::before {
        content: "";
        display: block;
        width: 27px;
        height: 27px;
        border: 1px solid #F1A208;
        border-radius: 100%;
        position: absolute;
        top: 3px;
        left: 0; }
    .section-board_card__radio:checked ~ .section-board_card__label::before {
      background-color: #F1A208; }
    .section-board_card__select {
      display: block;
      max-width: 245px;
      width: 100%;
      padding: 10px 15px;
      background-color: #fff;
      border: 1px solid #a6abbd;
      border-radius: 10px;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      font: 500 14px/20px Manrope;
      color: #343434; }
      .section-board_card__select:focus {
        outline: none; }
  .section-board_form {
    width: 100%;
    margin-top: 30px;
    padding: 30px 10px;
    border-radius: 5px; }
  .section-board input {
    max-width: 285px; }
  .section-board input[type="number"] {
    width: 85px;
    padding: 10px;
    background: -o-linear-gradient(132.3deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #EBEBEB;
    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #EBEBEB;
    background-blend-mode: soft-light, normal;
    border: 0.55892px solid rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: inset -1.11783px -1.11783px 4.47134px #FAFBFF, inset 1.11783px 1.11783px 5.58917px #A6ABBD;
            box-shadow: inset -1.11783px -1.11783px 4.47134px #FAFBFF, inset 1.11783px 1.11783px 5.58917px #A6ABBD;
    border-radius: 10px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    text-align: right; }
  .section-board .btn:hover {
    cursor: pointer; }

/* Section board end */
/* Slick slider start */
.slick-loading .slick-list {
  background: #fff url(assets/img/ajax-loader.gif); }

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 240px;
  bottom: -28px;
  left: calc( 50% - 120px); }
  .slick-dots li {
    width: auto;
    height: 4px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin: 0 3.5px; }
    .slick-dots li button {
      width: 100%;
      height: 100%;
      padding: 0;
      background: #fff;
      border-radius: 10px; }
      .slick-dots li button::before {
        display: none; }
    .slick-dots li.slick-active button {
      background-color: #F1A208 !important; }

.slick-slide:focus {
  outline: none; }

.slick-arrow {
  width: 22px;
  height: 40px;
  position: absolute;
  top: calc( 50% - 20px); }
  .slick-arrow::before, .slick-arrow::after {
    content: "";
    width: 2px;
    height: 25px;
    background-color: #fff;
    position: absolute; }
  .slick-arrow-prev {
    left: 0; }
    .slick-arrow-prev::before {
      left: 10px;
      top: -1px;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .slick-arrow-prev::after {
      left: 10px;
      bottom: -1px;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
  .slick-arrow-next {
    right: 0; }
    .slick-arrow-next::before {
      right: 10px;
      top: -1px;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    .slick-arrow-next::after {
      right: 10px;
      bottom: -1px;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }

/* Slick slider end */
/* ----- Components ----- */
/* Header start */
.header {
  width: 100%;
  background-color: transparent;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8; }
  .header .container {
    padding-top: 30px;
    padding-bottom: 15px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s; }
  .header-top {
    width: 140px;
    padding: 5px 15px;
    background-color: #F1A208;
    font-size: 12px;
    line-height: 16px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    position: absolute;
    top: 0;
    left: calc( 50% - 70px); }
  .header.box-shadow {
    background-color: rgba(61, 207, 194, 0.85);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px); }
    .header.box-shadow .container {
      padding-top: 10px; }
  .header.box-shadow .header-top {
    top: -26px; }
  .header .custom-logo-link {
    display: block;
    width: 109px;
    height: 44px; }
    .header .custom-logo-link img {
      height: 100%; }
  .header_phone {
    width: 40px;
    height: 40px;
    margin: 0 20px 0 auto;
    background-color: #CE5227;
    border-radius: 100%; }
    .header_phone i {
      display: block;
      width: 18px;
      height: 18px;
      background: url(assets/img/icon-phone.png) center/cover no-repeat; }
  .header-without-navigation .header_phone {
    margin-right: 0; }
  .header_burger {
    width: 35px;
    height: 33px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    position: relative;
    z-index: 10; }
    .header_burger__line {
      display: block;
      width: 100%;
      height: 3px;
      margin: 4px auto;
      background-color: #fff;
      border-radius: 10px; }
    .header_burger.open .header_burger__line {
      margin: 0;
      -webkit-transition: all .4s;
      -o-transition: all .4s;
      transition: all .4s;
      position: absolute;
      top: calc( 50% - 1.5px);
      left: 0; }
      .header_burger.open .header_burger__line-1 {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
      .header_burger.open .header_burger__line-2 {
        display: none; }
      .header_burger.open .header_burger__line-3 {
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }
  .header_nav {
    display: none;
    width: 100%;
    padding: 80px 30px 50px;
    background-color: #3DCFC2;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9; }
    .header_nav__list {
      margin-bottom: 30px; }
      .header_nav__list a {
        display: block;
        padding: 8px 0;
        color: #000;
        font-weight: 500;
        text-decoration: none;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s; }
    .header_nav__contacts-tel {
      font-size: 18px;
      line-height: 24px;
      font-weight: 500;
      color: #fff; }
    .header_nav__btn {
      display: none; }

/* Header end */
/* Promo start */
.promo {
  padding-top: 90px;
  padding-bottom: 140px;
  background: #3dcfc2;
  overflow: hidden;
  position: relative; }
  .promo .container {
    padding: 45px 5px 0; }
  .promo .section-title {
    font: 800 30px/41px Manrope;
    color: #fff;
    text-align: center; }
  .promo_calc {
    margin: 25px auto 50px; }
    .promo_calc .section-board {
      max-width: 400px;
      padding: 30px 15px 40px; }
      .promo_calc .section-board_title {
        font: 800 20px/28px Manrope;
        color: #F1A208; }
      .promo_calc .section-board_form {
        margin-top: 35px;
        padding: 0; }
      .promo_calc .section-board_card {
        width: 50%;
        max-width: 150px; }
        .promo_calc .section-board_card-room {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: flex-start; }
        .promo_calc .section-board_card-room .section-board_card-wrap {
          max-width: 150px; }
      .promo_calc .section-board .btn {
        margin-top: 25px; }
  .promo_desc {
    max-width: 400px;
    margin: 0 auto; }
    .promo_desc__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-bottom: 20px;
      padding-left: 20px; }
      .promo_desc__item-icon {
        display: block;
        width: 45px;
        height: 50px;
        background-image: url(assets/img/sprite.png);
        background-position: 0 0;
        background-repeat: no-repeat; }
      .promo_desc__item-icon_02 {
        background-position-x: -45px; }
      .promo_desc__item-icon_03 {
        background-position-x: -90px; }
      .promo_desc__item-text {
        width: 220px;
        margin-left: 20px;
        font-size: 18px;
        line-height: 24px;
        font-weight: 500; }

/* Promo end */
/* Promo detail start */
#page-detail .promo_calc .section-board_card {
  max-width: none;
  width: 100%; }

/* Promo detail start */
/* Portfolio start */
.portfolio {
  padding-bottom: 55px; }
  .portfolio .container {
    padding: 0; }
  .portfolio_desc {
    max-width: 340px;
    padding: 15px 15px 25px;
    margin: 0 auto;
    font-weight: 500; }
    .portfolio_desc span {
      font-weight: 700; }
  .portfolio-wrap {
    margin-top: 50px; }
  .portfolio-content {
    padding-bottom: 20px; }
  .portfolio_card {
    max-width: 635px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0; }
    .portfolio_card__title {
      padding: 0 15px 10px;
      font-size: 14px;
      line-height: 20px;
      font-weight: bold; }
    .portfolio_card__pic {
      display: block;
      padding: 0 15px; }
      .portfolio_card__pic img {
        border-radius: 5px; }
    .portfolio_card__carusel {
      padding: 10px 10px 0; }
      .portfolio_card__carusel-item {
        padding: 0 5px; }
        .portfolio_card__carusel-item img {
          border-radius: 5px;
          cursor: pointer; }
      .portfolio_card__carusel:not(.slick-slider) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
      .portfolio_card__carusel:not(.slick-slider) .portfolio_card__carusel-item {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1; }

/* Portfolio end */
/* Benefit start */
.benefit {
  padding-bottom: 60px; }
  .benefit .section-title {
    margin: 20px auto;
    text-align: left; }
  .benefit-content {
    margin-top: 20px; }
  .benefit_card {
    display: none;
    padding-top: 30px; }
    .benefit_card-top {
      position: relative;
      padding-bottom: 30px; }
    .benefit_card__pic {
      display: block;
      width: 160px;
      margin: 0 auto; }
      .benefit_card__pic img {
        border-radius: 50%; }
    .benefit_card__title {
      width: 227px;
      padding: 17px 25px 17px 15px;
      background: url(assets/img/benefit-flag_white.png) center/cover no-repeat;
      font: bold 20px/27px Manrope;
      color: #3DCFC2;
      position: absolute;
      bottom: 0;
      right: calc( 50% - 66px); }
    .benefit_card__list {
      padding-top: 20px; }
      .benefit_card__list-item {
        margin-top: 20px; }
        .benefit_card__list-item_title {
          padding-bottom: 15px;
          padding-left: 15px;
          font: bold 20px/26px Manrope;
          position: relative; }
          .benefit_card__list-item_title::before {
            content: "\2022";
            position: absolute;
            top: 0;
            left: 0; }
        .benefit_card__list-item_desc {
          font-size: 16px;
          line-height: 22px;
          font-weight: 500; }
    .benefit_card[data-target="benefit-flagman"] {
      display: block; }
    .benefit_card[data-target="benefit-flagman"] .benefit_card__pic {
      position: relative; }
      .benefit_card[data-target="benefit-flagman"] .benefit_card__pic::before {
        content: "";
        width: 220px;
        height: 220px;
        background: url(assets/img/benefit-flagman_bg.png) center/cover no-repeat;
        position: absolute;
        top: -30px;
        left: -30px; }
      .benefit_card[data-target="benefit-flagman"] .benefit_card__pic::after {
        content: "";
        width: 145px;
        height: 145px;
        border: 2px solid #3DCFC2;
        border-radius: 50%;
        position: absolute;
        top: 8px;
        left: 8px; }
    .benefit_card[data-target="benefit-flagman"] .benefit_card__title {
      background: url(assets/img/benefit-flag_green.png) center/cover no-repeat;
      color: #fff; }
    .benefit_card[data-target="benefit-flagman"] .benefit_card__list-item_title {
      color: #3DCFC2; }

/* Benefit end */
/* Pricing start */
.pricing {
  padding: 45px 0 80px;
  background-color: #3DCFC2;
  overflow: hidden;
  position: relative; }
  .pricing-content {
    z-index: 1; }
  .pricing_card {
    display: block !important;
    max-width: 420px;
    margin: 20px auto;
    padding: 40px 20px 50px;
    background-color: #fafbff;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-align: center; }
    .pricing_card__title {
      font: bold 20px/27px Manrope; }
    .pricing_card__desc {
      min-height: 155px;
      margin: 25px auto;
      font-size: 16px;
      line-height: 22px;
      font-weight: 500; }
    .pricing_card__toggle {
      margin: 0 auto;
      padding-left: 25px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      color: #F1A208;
      text-decoration: underline;
      position: relative; }
      .pricing_card__toggle::before {
        content: "";
        width: 18px;
        height: 18px;
        background: url(assets/img/sprite.png) -80px -90px no-repeat;
        position: absolute;
        top: 1px;
        left: 0; }
    .pricing_card__price {
      margin: 25px auto 15px;
      font: bold 26px/36px Manrope;
      color: #049E91; }
  .pricing .block_wave {
    left: -620px; }

/* Pricing end */
/* Contract start */
.contract {
  padding: 80px 0 50px; }
  .contract_pic {
    display: block;
    max-width: 360px;
    margin: -115px auto 35px; }
  .contract_list {
    padding-left: 20px;
    list-style: disc; }
    .contract_list__item {
      margin-top: 20px;
      font-size: 16px;
      line-height: 22px;
      font-weight: 500; }
      .contract_list__item span {
        font-weight: bold; }

/* Contract end */
/* Our team start */
.our-team {
  padding: 40px 0 80px;
  background: -webkit-gradient(linear, left top, right top, color-stop(15%, rgba(0, 191, 175, 0.7)), color-stop(70%, #8de9d5));
  background: -o-linear-gradient(left, rgba(0, 191, 175, 0.7) 15%, #8de9d5 70%);
  background: linear-gradient(to right, rgba(0, 191, 175, 0.7) 15%, #8de9d5 70%);
  overflow: hidden;
  position: relative; }
  .our-team .container {
    padding: 0; }
  .our-team .block_wave {
    left: auto;
    right: 0; }
  .our-team .btn-select {
    -webkit-box-shadow: -2.5px -2.5px 5px rgba(141, 233, 213, 0.5), 2.5px 2.5px 5px rgba(166, 171, 189, 0.7);
            box-shadow: -2.5px -2.5px 5px rgba(141, 233, 213, 0.5), 2.5px 2.5px 5px rgba(166, 171, 189, 0.7); }
  .our-team-top {
    padding-right: 15px;
    padding-left: 15px; }
  .our-team_nav {
    margin: 20px auto 30px; }
  .our-team_desc {
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    text-align: center; }
  .our-team-content {
    min-height: 387px; }
  .our-team_carusel {
    z-index: 1; }
  .our-team_card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    min-height: 385px;
    text-align: center; }
    .our-team_card__pic {
      display: block; }
      .our-team_card__pic img {
        max-width: 360px;
        margin: 0 auto; }
    .our-team_card__name {
      padding-top: 25px;
      padding-bottom: 5px;
      border-top: 1px solid #fff;
      font-size: 20px;
      line-height: 26px;
      font-weight: bold; }
    .our-team_card__post {
      font-weight: 500; }
  .our-team .btn-list li {
    -webkit-box-shadow: -2.5px -2.5px 5px rgba(141, 233, 213, 0.5), 2.5px 2.5px 5px rgba(166, 171, 189, 0.7);
            box-shadow: -2.5px -2.5px 5px rgba(141, 233, 213, 0.5), 2.5px 2.5px 5px rgba(166, 171, 189, 0.7); }
    .our-team .btn-list li.active {
      -webkit-box-shadow: -2.5px -2.5px 5px rgba(141, 233, 213, 0.5), 2.5px 2.5px 5px rgba(166, 171, 189, 0.7);
              box-shadow: -2.5px -2.5px 5px rgba(141, 233, 213, 0.5), 2.5px 2.5px 5px rgba(166, 171, 189, 0.7); }

/* Our team end */
/* Gift start */
.gift {
  padding: 30px 0 75px; }
  .gift .section-title {
    text-align: left; }
  .gift_pic {
    display: block;
    max-width: 320px;
    margin: 0 auto 20px; }
  .gift_desc {
    margin: 20px auto 35px;
    font-weight: 500; }
  .gift .section-board {
    max-width: 340px;
    padding: 35px 20px;
    border: 1px solid #3DCFC2;
    border-radius: 10px; }
    .gift .section-board_form {
      margin: 0;
      padding: 0; }
      .gift .section-board_form__agree {
        padding: 15px;
        font: 500 12px/16px Manrope; }

/* Gift end */
/* Review start */
.reviews {
  padding: 40px 0 100px;
  background: -webkit-gradient(linear, right top, left top, color-stop(15%, rgba(0, 191, 175, 0.7)), color-stop(70%, #8de9d5));
  background: -o-linear-gradient(right, rgba(0, 191, 175, 0.7) 15%, #8de9d5 70%);
  background: linear-gradient(to left, rgba(0, 191, 175, 0.7) 15%, #8de9d5 70%);
  overflow: hidden;
  position: relative; }
  .reviews .container {
    padding: 0; }
  .reviews-content {
    margin-top: 35px;
    position: relative;
    z-index: 1; }
  .reviews_card {
    max-width: 450px;
    margin: 0 auto 35px;
    background-color: #000;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    border-radius: 5px; }
    .reviews_card__pic {
      position: relative; }
      .reviews_card__pic img {
        opacity: .8;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s; }
      .reviews_card__pic.opacity img {
        opacity: 0; }
      .reviews_card__pic iframe {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; }

/* Review end */
/* Partners start */
.partners {
  padding: 20px 0 50px; }
  .partners_desc {
    margin: 20px auto 35px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    text-align: center; }
  .partners_card {
    display: block !important;
    max-width: 360px;
    margin: 0 auto;
    padding: 5px; }
    .partners_card-body {
      padding: 25px 30px 35px;
      -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
              box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      overflow: hidden; }
    .partners_card__pic {
      display: block; }
    .partners_card__desc {
      margin-top: 15px;
      font-size: 14px;
      line-height: 17px; }
  .partners .slick-dots li button {
    background: #dad9d9; }

/* Vlog start */
.vlog {
  padding: 40px 0 100px;
  background: -webkit-gradient(linear, left top, right top, color-stop(15%, rgba(0, 191, 175, 0.7)), color-stop(70%, #8de9d5));
  background: -o-linear-gradient(left, rgba(0, 191, 175, 0.7) 15%, #8de9d5 70%);
  background: linear-gradient(to right, rgba(0, 191, 175, 0.7) 15%, #8de9d5 70%);
  overflow: hidden;
  position: relative; }
  .vlog .block_wave {
    left: auto;
    right: 0; }
  .vlog .container {
    padding: 0; }
  .vlog-content {
    margin-top: 35px;
    position: relative;
    z-index: 1; }
  .vlog_card {
    max-width: 450px;
    margin: 0 auto 25px;
    background-color: #000;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative; }
    .vlog_card__pic {
      display: block; }
      .vlog_card__pic img {
        opacity: .6; }
      .vlog_card__pic iframe {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; }
    .vlog_card__icon {
      display: block;
      width: 23px;
      height: 22px;
      background: url(assets/img/icon-flagman.png) center/cover no-repeat;
      position: absolute;
      top: 15px;
      left: 31px; }
    .vlog_card-info {
      padding-left: 10px;
      border-left: 3px solid #3DCFC2;
      font: bold 15px/20px Manrope;
      color: #fff;
      position: absolute;
      bottom: 15px;
      left: 40px; }
    .vlog_card__title {
      text-transform: uppercase;
      letter-spacing: 0.5px; }
    .vlog_card__subtitle {
      font-weight: 600;
      letter-spacing: 1px; }

/* Vlog end */
/* Contacts start */
.contacts {
  padding: 20px 0 40px; }
  .contacts .container {
    padding: 0; }
  .contacts-info {
    margin-top: 25px; }
  .contacts_list__item {
    width: calc( 100% - 30px);
    margin: 50px auto 0;
    padding-left: 55px;
    position: relative; }
    .contacts_list__item::before {
      content: "";
      width: 40px;
      height: 40px;
      background: url(assets/img/sprite.png) 0 -50px no-repeat;
      position: absolute;
      top: 0;
      left: 0; }
    .contacts_list__item:nth-child(2)::before {
      background-position-x: -80px; }
    .contacts_list__item:nth-child(3)::before {
      background-position-x: -40px; }
    .contacts_list__item-title {
      font-weight: bold;
      color: #343434;
      text-decoration: none; }
    .contacts_list__item-subtitle {
      font-size: 13px;
      font-weight: 500; }
  .contacts-map {
    width: 100%;
    height: 200px;
    margin-top: 35px;
    background: url(assets/img/ajax-loader.gif) center no-repeat; }
    .contacts-map iframe {
      display: block;
      width: 100%;
      height: 100%; }

/* Contacts end */
/* Footer start */
.footer {
  padding: 55px 0 35px; }
  .footer_logo {
    display: block;
    width: 140px; }
  .footer_nav {
    padding: 25px 0; }
    .footer_nav a {
      display: inline-block;
      margin: 0 5px 10px;
      padding: 5px;
      font-size: 16px;
      line-height: 22px;
      font-weight: 600;
      color: #049E91;
      text-decoration: none; }
  .footer_social {
    padding: 0 5px; }
    .footer_social__item {
      padding: 0 5px; }
      .footer_social__item a {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-image: url(assets/img/sprite.png);
        background-position-y: -90px;
        background-repeat: no-repeat; }
      .footer_social__item-fb {
        background-position-x: 0; }
      .footer_social__item-inst {
        background-position-x: -40px; }
  .footer_copy {
    width: 100%;
    margin-top: 20px;
    font-size: 12px;
    line-height: 16px; }
    .footer_copy a {
      color: #000; }

#page-success .footer,
#page-privacy .footer,
#page-404 .footer {
  padding-top: 30px; }
  #page-success .footer_logo,
  #page-privacy .footer_logo,
  #page-404 .footer_logo {
    margin-bottom: 25px; }

/* Footer end */
/* Modals start */
.modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50; }
  .modal-open {
    overflow: hidden; }
  .modal-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    min-height: -moz-available;
    min-height: stretch; }
  .modal-content {
    max-width: 320px;
    width: 100%;
    margin: 0 auto; }
  .modal-body {
    max-height: calc( 100vh - 60px);
    padding: 40px 20px;
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow-y: auto; }
  .modal_close {
    width: 20px;
    height: 20px;
    margin: 10px 5px 10px auto;
    position: relative; }
    .modal_close::before, .modal_close::after {
      content: "";
      width: 20px;
      height: 2px;
      border-radius: 10px;
      background-color: #c4c4c4;
      position: absolute;
      top: calc( 50% - 1px);
      left: 0; }
    .modal_close::before {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .modal_close::after {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
  .modal_title {
    font: bold 20px/27px Manrope;
    color: #049E91;
    text-align: center; }
  .modal_info {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    text-align: center; }
    .modal_info__title {
      margin: 20px 0; }
  .modal_form .modal_form__input {
    margin-top: 30px;
    border-radius: 5px; }
  .modal_form__consent {
    margin: 30px auto;
    font: 500 12px/16px Manrope;
    text-align: center; }
  .modal-pricing_title {
    font: bold 20px/27px Manrope; }
  .modal-pricing_info__title {
    margin: 25px 0 10px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600; }
  .modal-pricing_info__list li {
    padding-left: 10px;
    font-size: 14px;
    line-height: 20px;
    position: relative; }
    .modal-pricing_info__list li::before {
      content: "-";
      position: absolute;
      top: 0;
      left: 0; }
  .modal-pricing_info__desc {
    padding-left: 10px;
    font-size: 14px;
    line-height: 20px; }

/* Modals end */

/*# sourceMappingURL=style-mobile.css.map */
