/* Benefit start

.benefit
  padding-bottom: 60px
  & .section-title
    margin: 20px auto
    text-align: left
  &-content
    margin-top: 20px
  &_card
    display: none
    padding-top: 30px
    &-top
      position: relative
      padding-bottom: 30px
    &__pic
      display: block
      width: 160px
      margin: 0 auto
      & img
        border-radius: 50%
    &__title
      width: 227px
      padding: 17px 25px 17px 15px
      background: url(assets/img/benefit-flag_white.png) center/cover no-repeat
      font: bold 20px/27px $font-basic
      color: $color-turq
      position: absolute
      bottom: 0
      right: calc( 50% - 66px )
    &__list
      padding-top: 20px
      &-item
        margin-top: 20px
        &_title
          padding-bottom: 15px
          padding-left: 15px
          font: bold 20px/26px $font-basic
          position: relative
          &::before
            content: "\2022"
            position: absolute
            top: 0
            left: 0
        &_desc
          @include font-16
          font-weight: 500
    &[data-target="benefit-flagman"]
      display: block
    &[data-target="benefit-flagman"] &__pic
      position: relative
      &::before
        content: ""
        width: 220px
        height: 220px
        background: url(assets/img/benefit-flagman_bg.png) center/cover no-repeat
        position: absolute
        top: -30px
        left: -30px
      &::after
        content: ""
        width: 145px
        height: 145px
        border: 2px solid $color-turq
        border-radius: 50%
        position: absolute
        top: 8px
        left: 8px
    &[data-target="benefit-flagman"] &__title
      background: url(assets/img/benefit-flag_green.png) center/cover no-repeat
      color: #fff
    &[data-target="benefit-flagman"] &__list-item_title
      color: $color-turq

/* Benefit end
