/* Contacts start

.contacts
  padding: 20px 0 40px
  & .container
    padding: 0
  &-info
    margin-top: 25px
  &_list
    &__item
      width: calc( 100% - 30px )
      margin: 50px auto 0
      padding-left: 55px
      position: relative
      &::before
        content: ""
        width: 40px
        height: 40px
        background: url(assets/img/sprite.png) 0 -50px no-repeat
        position: absolute
        top: 0
        left: 0
      &:nth-child(2)::before
        background-position-x: -80px
      &:nth-child(3)::before
        background-position-x: -40px
      &-title
        font-weight: bold
        color: #343434
        text-decoration: none
      &-subtitle
        font-size: 13px
        font-weight: 500
  &-map
    width: 100%
    height: 200px
    margin-top: 35px
    background: url(assets/img/ajax-loader.gif) center no-repeat
    & iframe
      display: block
      width: 100%
      height: 100%

/* Contacts end