/* Contract start

.contract
  padding: 80px 0 50px
  &_pic
    display: block
    max-width: 360px
    margin: -115px auto 35px
  &_list
    padding-left: 20px
    list-style: disc
    &__item
      margin-top: 20px
      @include font-16
      font-weight: 500
      & span
        font-weight: bold

/* Contract end