/* Footer start

.footer
  padding: 55px 0 35px
  &_logo
    display: block
    width: 140px
  &_nav
    padding: 25px 0
    & a
      display: inline-block
      margin: 0 5px 10px
      padding: 5px
      @include font-16
      font-weight: 600
      color: $color-turq_dark
      text-decoration: none
  &_social
    padding: 0 5px
    &__item
      padding: 0 5px
      & a
        display: block
        width: 40px
        height: 40px
        border-radius: 50%
        background-image: url(assets/img/sprite.png)
        background-position-y: -90px
        background-repeat: no-repeat
      &-fb
        background-position-x: 0
      &-inst
        background-position-x: -40px
  &_copy
    width: 100%
    margin-top: 20px
    font-size: 12px
    line-height: 16px
    & a
      color: #000

#page-success,
#page-privacy,
#page-404
  & .footer
    padding-top: 30px
    &_logo
      margin-bottom: 25px

/* Footer end