/* Gift start

.gift
  padding: 30px 0 75px
  & .section-title
    text-align: left
  &_pic
    display: block
    max-width: 320px
    margin: 0 auto 20px
  &_desc
    margin: 20px auto 35px
    font-weight: 500
  & .section-board
    max-width: 340px
    padding: 35px 20px
    border: 1px solid $color-turq
    border-radius: 10px
    &_form
      margin: 0
      padding: 0
      &__agree
        padding: 15px
        font: 500 12px/16px $font-basic

/* Gift end