/* Header start

.header
  width: 100%
  background-color: transparent
  transition: all .4s
  position: fixed
  top: 0
  left: 0
  z-index: 8
  & .container
    padding-top: 30px
    padding-bottom: 15px
    transition: all .4s
  &-top
    width: 140px
    padding: 5px 15px
    background-color: $color-orange
    font-size: 12px
    line-height: 16px
    border-bottom-right-radius: 10px
    border-bottom-left-radius: 10px
    transition: all .4s
    position: absolute
    top: 0
    left: calc( 50% - 70px )
  &.box-shadow
    background-color: rgba(61, 207, 194, 0.85)
    backdrop-filter: blur(5px)
    & .container
      padding-top: 10px
  &.box-shadow  &-top
    top: -26px
  & .custom-logo-link
    display: block
    width: 109px
    height: 44px
    & img
      height: 100%
  &_phone
    width: 40px
    height: 40px
    margin: 0 20px 0 auto
    background-color: $color-red
    border-radius: 100%
    & i
      display: block
      width: 18px
      height: 18px
      background: url(assets/img/icon-phone.png) center/cover no-repeat
  &-without-navigation &_phone
    margin-right: 0
  &_burger
    width: 35px
    height: 33px
    transition: all .4s
    position: relative
    z-index: 10
    &__line
      display: block
      width: 100%
      height: 3px
      margin: 4px auto
      background-color: #fff
      border-radius: 10px
    &.open &__line
      margin: 0
      transition: all .4s
      position: absolute
      top: calc( 50% - 1.5px )
      left: 0
      &-1
        transform: rotate(45deg)
      &-2
        display: none
      &-3
        transform: rotate(-45deg)
  &_nav
    display: none
    width: 100%
    padding: 80px 30px 50px
    background-color: $color-turq
    position: absolute
    top: 0
    left: 0
    z-index: 9
    &__list
      margin-bottom: 30px
      & a
        display: block
        padding: 8px 0
        color: #000
        font-weight: 500
        text-decoration: none
        transition: all .4s
    &__contacts
      &-tel
        @include font-18
        font-weight: 500
        color: #fff
    &__btn
      display: none

/* Header end