/* Modals start

.modal
  display: none
  background-color: rgba(0, 0, 0, 0.5)
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 50
  &-open
    overflow: hidden
  &-container
    display: flex
    justify-content: center
    align-items: center
    min-height: 100vh
    min-height: stretch
  &-content
    max-width: 320px
    width: 100%
    margin: 0 auto
  &-body
    max-height: calc( 100vh - 60px )
    padding: 40px 20px
    background-color: #fff
    border-radius: 5px
    box-shadow: $shadow-black_light
    overflow-y: auto
  &_close
    width: 20px
    height: 20px
    margin: 10px 5px 10px auto
    position: relative
    &::before, &::after
      content: ""
      width: 20px
      height: 2px
      border-radius: 10px
      background-color: #c4c4c4
      position: absolute
      top: calc( 50% - 1px )
      left: 0
    &::before
      transform: rotate(45deg)
    &::after
      transform: rotate(-45deg)
  &_title
    font: bold 20px/27px $font-basic
    color: $color-turq_dark
    text-align: center
  &_info
    @include font-16
    font-weight: 500
    text-align: center
    &__title
      margin: 20px 0
  &_form
    & &__input
      margin-top: 30px
      border-radius: 5px
    &__consent
      margin: 30px auto
      font: 500 12px/16px $font-basic
      text-align: center
  &-pricing
    &_title
      font: bold 20px/27px $font-basic
    &_info
      &__title
        margin: 25px 0 10px
        @include font-16
        font-weight: 600
      &__list li
        padding-left: 10px
        @include font-14
        position: relative
        &::before
          content: "-"
          position: absolute
          top: 0
          left: 0
      &__desc
        padding-left: 10px
        @include font-14

/* Modals end