
/* NY2022 edits strat

.promo
    padding-bottom: 0
    &_desc
        position: relative
        &__snow
            position: absolute
            top: calc( 100% - 25px )
    &_gift
        padding-right: 0
        padding-left: 0
        position: relative
        z-index: 2!important

.portfolio
    padding-top: 30px

.gift_pic
    margin-bottom: 40px
    position: relative
    &::before
        content: ""
        width: 228px
        height: 228px
        background: linear-gradient(91.48deg, rgba(0, 191, 175, 0.8) 16.08%, rgba(141, 233, 213, 0.8) 97.52%)
        filter: blur(100px)
        position: absolute
        top: 150px
        left: calc( 50% - 114px )
        z-index: 1
    &::after
        content: ""
        background: url(assets/img/ny2022/snow-big.png) center/auto
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        z-index: 4
    &__tree img
        position: relative
        z-index: 2
    &-wrap
        width: 80%
        position: absolute
        right: -10px
        bottom: -30px
        z-index: 3

@media (min-width: 576px)
    .promo_gift-1 img
        width: 60%
        margin: 0 auto

@media (min-width: 768px)
    .promo
        & .container:not(.promo_gift)
            margin-bottom: 180px
        &_desc__snow
            top: auto
            bottom: 25px
        &_gift
            padding-top: 0!important
            &-1 img
                width: 75%
                position: absolute
                bottom: -10px
                left: -20px

@media (min-width: 992px)
    .promo
        & .container:not(.promo_gift)
            margin-bottom: 220px
        &_desc__snow
            bottom: -10px
        &_gift-1 img
            width: 65%
            bottom: -20px
            left: 40px
    .gift-wrap
        padding-top: 120px

@media (min-width: 1200px)
    .promo
        & .container:not(.promo_gift)
            margin-bottom: 135px
        &_desc__snow
            bottom: 100px
        &_gift-2
            z-index: 1!important
            & img
                width: 245px
                position: absolute
                bottom: 40px
                left: -15px
        &_gift-1 img
            width: 460px
            bottom: -10px
            left: 170px
    .gift
        &_pic
            &::before
                width: 330px
                height: 330px
                left: calc( 50% - 165px )
            &::after
                background-size: contain
            &-wrap
                width: 85%
                bottom: -40px
                right: -50px
        &-wrap
            padding-top: 150px

@media (min-width: 1366px)
    .promo
        & .container:not(.promo_gift)
            margin-bottom: 135px
        &_desc__snow
            bottom: 145px
        &_gift-2 img
            bottom: 265px
            left: 40px
        &_gift-1 img
            width: 380px
            bottom: 210px
            left: 240px
        & .white_wave
            bottom: 60px
            &::before
                content: ""
                width: 100%
                height: 70px
                background-color: #fff
                position: absolute
                top: calc( 100% - 5px )
                right: 0
                left: 0

    .gift
        padding-top: 20px
        padding-bottom: 70px
        &_pic
            &::before
                width: 400px
                height: 400px
                top: 190px
                left: calc( 50% - 200px )
            &__tree img
                width: 380px
            &-wrap
                width: 80%
                bottom: -60px
                right: 10px
