/* Our team start

.our-team
  padding: 40px 0 80px
  @include bg_gradient(to right)
  overflow: hidden
  position: relative
  & .container
    padding: 0
  & .block_wave
    left: auto
    right: 0
  & .btn-select
    box-shadow: -2.5px -2.5px 5px rgba(141, 233, 213, 0.5), 2.5px 2.5px 5px rgba(166, 171, 189, 0.7)
  &-top
    padding-right: 15px
    padding-left: 15px
  &_nav
    margin: 20px auto 30px
  &_desc
    padding-bottom: 15px
    @include font-16
    font-weight: 500
    text-align: center
  &-content
    min-height: 387px
  &_carusel
    z-index: 1
  &_card
    display: flex
    flex-direction: column
    justify-content: flex-end
    min-height: 385px
    text-align: center
    &__pic
      display: block
      & img
        max-width: 360px
        margin: 0 auto
    &__name
      padding-top: 25px
      padding-bottom: 5px
      border-top: 1px solid #fff
      @include font-20
      font-weight: bold
    &__post
      font-weight: 500
  & .btn-list li
    box-shadow: -2.5px -2.5px 5px rgba(141, 233, 213, 0.5), 2.5px 2.5px 5px rgba(166, 171, 189, 0.7)
    &.active
      box-shadow: -2.5px -2.5px 5px rgba(141, 233, 213, 0.5), 2.5px 2.5px 5px rgba(166, 171, 189, 0.7)

/* Our team end