/* Partners start

.partners
  padding: 20px 0 50px
  &_desc
    margin: 20px auto 35px
    @include font-16
    font-weight: 500
    text-align: center
  &_card
    display: block!important
    max-width: 360px
    margin: 0 auto
    padding: 5px
    &-body
      padding: 25px 30px 35px
      box-shadow: 0px 0px 4px rgba(0, 0, 0, .25)
      border-radius: 5px
      overflow: hidden
    &__pic
      display: block
    &__desc
      margin-top: 15px
      font-size: 14px
      line-height: 17px
  & .slick-dots li button
    background: #dad9d9