/* Portfolio start

.portfolio
  padding-bottom: 55px
  & .container
    padding: 0
  &_desc
    max-width: 340px
    padding: 15px 15px 25px
    margin: 0 auto
    font-weight: 500
    & span
      font-weight: 700
  &-wrap
    margin-top: 50px
  &-content
    padding-bottom: 20px
  &_card
    max-width: 635px
    width: 100%
    margin: 0 auto
    padding: 10px 0
    &__title
      padding: 0 15px 10px
      @include font-14
      font-weight: bold
    &__pic
      display: block
      padding: 0 15px
      & img
        border-radius: 5px
    &__carusel
      padding: 10px 10px 0
      &-item
        padding: 0 5px
        & img
          border-radius: 5px
          cursor: pointer
      &:not(.slick-slider)
        display: flex
        justify-content: center
      &:not(.slick-slider) &-item
        flex-grow: 1

/* Portfolio end        