/* Pricing start

.pricing
  padding: 45px 0 80px
  background-color: $color-turq
  overflow: hidden
  position: relative
  &-content
    z-index: 1
  &_card
    display: block!important
    max-width: 420px
    margin: 20px auto
    padding: 40px 20px 50px
    background-color: #fafbff
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    border-radius: 5px
    text-align: center
    &__title
      font: bold 20px/27px $font-basic
    &__desc
      min-height: 155px
      margin: 25px auto
      @include font-16
      font-weight: 500
    &__toggle
      margin: 0 auto
      padding-left: 25px
      @include font-14
      font-weight: 500
      color: $color-orange
      text-decoration: underline
      position: relative
      &::before
        content: ""
        width: 18px
        height: 18px
        background: url(assets/img/sprite.png) -80px -90px no-repeat
        position: absolute
        top: 1px
        left: 0
    &__price
      margin: 25px auto 15px
      font: bold 26px/36px $font-basic
      color: $color-turq_dark
  & .block_wave
    left: -620px

/* Pricing end