/* Promo start

.promo
  padding-top: 90px
  padding-bottom: 140px
  background: #3dcfc2
  overflow: hidden
  position: relative
  & .container 
    padding: 45px 5px 0
  & .section-title
    font: 800 30px/41px $font-basic
    color: #fff
    text-align: center
  &_calc
    margin: 25px auto 50px
    & .section-board
      max-width: 400px
      padding: 30px 15px 40px
      &_title
        font: 800 20px/28px $font-basic
        color: $color-orange
      &_form
        margin-top: 35px
        padding: 0
      &_card
        width: 50%
        max-width: 150px
        &-room
          display: flex
          flex-wrap: wrap
          justify-content: flex-start
        &-room .section-board_card-wrap
          max-width: 150px
      & .btn
        margin-top: 25px
  &_desc
    max-width: 400px
    margin: 0 auto
    &__item
      display: flex
      padding-bottom: 20px
      padding-left: 20px
      &-icon
        display: block
        width: 45px
        height: 50px
        background-image: url(assets/img/sprite.png)
        background-position: 0 0
        background-repeat: no-repeat
      &-icon_02
        background-position-x: -45px
      &-icon_03
        background-position-x: -90px
      &-text
        width: 220px
        margin-left: 20px
        @include font-18
        font-weight: 500

/* Promo end
/* Promo detail start

#page-detail
  & .promo_calc
    & .section-board_card
      max-width: none
      width: 100%

/* Promo detail start