/* Review start

.reviews
  padding: 40px 0 100px
  @include bg_gradient(to left)
  overflow: hidden
  position: relative
  & .container
    padding: 0
  &-content
    margin-top: 35px
    position: relative
    z-index: 1
  &_card
    max-width: 450px
    margin: 0 auto 35px
    background-color: #000
    box-shadow: $shadow-black_light
    overflow: hidden
    border-radius: 5px
    &__pic
      position: relative
      & img
        opacity: .8
        transition: all .4s
      &.opacity img
        opacity: 0
      & iframe
        display: block
        width: 100%
        height: 100%
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0

/* Review end