/* Vlog start

.vlog
  padding: 40px 0 100px
  @include bg_gradient(to right)
  overflow: hidden
  position: relative
  & .block_wave
    left: auto
    right: 0
  & .container
    padding: 0
  &-content
    margin-top: 35px
    position: relative
    z-index: 1
  &_card
    max-width: 450px
    margin: 0 auto 25px
    background-color: #000
    border-radius: 5px
    overflow: hidden
    box-shadow: $shadow-black_light
    position: relative
    &__pic
      display: block
      & img
        opacity: .6
      & iframe
        display: block
        width: 100%
        height: 100%
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
    &__icon
      display: block
      width: 23px
      height: 22px
      background: url(assets/img/icon-flagman.png) center/cover no-repeat
      position: absolute
      top: 15px
      left: 31px
    &-info
      padding-left: 10px
      border-left: 3px solid $color-turq
      font: bold 15px/20px $font-basic
      color: #fff
      position: absolute
      bottom: 15px
      left: 40px
    &__title
      text-transform: uppercase
      letter-spacing: 0.5px
    &__subtitle
      font-weight: 600
      letter-spacing: 1px    

/* Vlog end