.container
  max-width: 720px

.d-md-none
  display: none!important

.d-md-inline-block
  display: inline-block!important

.d-md-block
  display: block!important

.d-md-flex
  display: flex!important

.flex-md-wrap
  flex-wrap: wrap!important

.justify-content-md-center
  justify-content: center!important

.justify-content-md-between
  justify-content: space-between!important

.align-items-md-center
  align-items: center!important

.align-items-md-end
  align-items: flex-end!important