.container
  max-width: 960px

.d-lg-none
  display: none!important

.d-lg-block
  display: block!important

.d-lg-inline-block
  display: inline-block!important

.d-lg-flex
  display: flex!important

.flex-lg-wrap
  flex-wrap: wrap!important

.flex-lg-column-reverse
  flex-direction: column-reverse!important

.flex-lg-row-revers
  flex-direction: row-reverse!important

.justify-content-lg-start
  justify-content: flex-start!important

.justify-content-lg-around
  justify-content: space-around!important

.justify-content-lg-center
  justify-content: center!important

.justify-content-lg-between
  justify-content: space-between!important

.align-items-lg-center
  align-items: center!important

.align-items-lg-end
  align-items: flex-end!important

.text-lg-center
  text-align: center!important

.section-title
  font-size: 34px
  line-height: 40px