.container
  max-width: 1140px

.d-xl-none
  display: none!important

.d-xl-block
  display: block

.d-xl-flex
  display: flex

.flex-xl-wrap
  flex-wrap: wrap

.flex-xl-nowrap
  flex-wrap: nowrap!important

.flex-xl-column
  flex-direction: column

.flex-xl-column-reverse
  flex-direction: column-reverse

.flex-xl-row-reverse
  flex-direction: row-reverse

.justify-content-xl-start
  justify-content: flex-start

.justify-content-xl-center
  justify-content: center

.justify-content-xl-around
  justify-content: space-around

.justify-content-xl-between
  justify-content: space-between

.align-items-xl-start
  align-items: flex-start

.align-items-xl-end
  align-items: flex-end

.align-items-xl-center
  align-items: center

.slick
	&-arrow
		width: 22px
		height: 40px
		position: absolute
		top: calc( 50% - 20px )
		&::before, &::after
			content: ""
			width: 2px
			height: 25px
			background-color: #fff
			position: absolute
		&-prev
			left: 0
			&::before
				left: 10px
				top: -1px
				transform: rotate(45deg)
			&::after
				left: 10px
				bottom: -1px
				transform: rotate(-45deg)
		&-next
			right: 0
			&::before
				right: 10px
				top: -1px
				transform: rotate(-45deg)
			&::after
				right: 10px
				bottom: -1px
				transform: rotate(45deg)