.container 
  max-width: 1320px

.d-xxl-flex
  display: flex

.justify-content-xxl-center
  justify-content: center

.align-items-xxl-center
  align-items: center

.section-title
  font-size: 40px
  line-height: 55px

.block_wave
  left: 0!important
  right: auto

.icon-play
  width: 90px
  height: 90px
  top: calc( 50% - 45px )
  & i
    width: 39px
    height: 44px
    top: calc( 50% - 21px )
    left: calc( 50% - 16px )