.container
  max-width: 540px

.d-sm-inline-block
  display: inline-block!important

.d-sm-flex
  display: flex!important

.flex-sm-wrap
  flex-wrap: wrap

.flex-sm-row
  flex-direction: row!important

.justify-content-sm-end
  justify-content: flex-end!important

.justify-content-sm-center
  justify-content: center!important

.justify-content-sm-around
  justify-content: space-around!important

.justify-content-sm-between
  justify-content: space-between!important

.align-items-sm-end
  align-items: flex-end