@mixin font-14
  font-size: 14px
  line-height: 20px
@mixin font-16
  font-size: 16px
  line-height: 22px
@mixin font-18
  font-size: 18px
  line-height: 24px
@mixin font-20
  font-size: 20px
  line-height: 26px

@mixin btn
	display: block
	max-width: 260px
	width: 100%
	margin: 0 auto
	padding: 15px 35px
	border: 2px solid $color-red
	border-radius: 50px
	color: #fff
	transition: all .4s

@mixin bg_gradient($side)
	background: linear-gradient($side, rgba(0, 191, 175, .7) 15%, #8de9d5 70%)
  