@import ./_variables
@import ./mixin

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	font: inherit
	vertical-align: baseline

*, ::after, ::before
  box-sizing: border-box

html
  background-color: #fff

body
  max-width: 1920px
  margin: 0 auto
  font: normal 16px/24px $font-basic
  color: #343434

input
  -moz-appearance: none
  -webkit-appearance: none
  appearance: none
  font: normal 16px/24px $font-basic
  transition: all .4s
  &:hover,
  &:focus
    outline: none
    box-shadow: none
  &[type="submit"]:hover
    cursor: pointer


input[type="number"]
  &:hover,
  &:focus
    -moz-appearance: number-input
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0

button
  display: block
  padding: 0
  background-color: transparent
  border: none
  border-radius: 0
  cursor: pointer
  font: 400 16px/22px $font-basic
  transition: all .4s
  &:focus
    outline: none

ul
  list-style: none

img
  display: block
  width: 100%