@media (min-width: 1200px)
  @import ../generic/common/common-1200_media
  /* Header start

  .header
    &-top
      left: calc( 50% - 415px)
    & .custom-logo-link
      width: 160px
      height: 57px
    &_nav
      padding: 0
      background-color: transparent
      position: static
      &__list
        margin: 0 auto
        padding: 0 10px
        & a
          padding: 5px
          margin: 0 5px
          color: #03776D
          font-weight: 600
          &:hover
            background-color: rgba(255, 255, 255, .2)
            border-radius: 5px
      &__contacts
        color: #03776D
        &-time
          font-size: 12px
          line-height: 16px
        &-tel
          color: #03776D
          font-weight: 600
          text-decoration: none
          
  /* Header end
  /* Promo start

  .promo
    padding-bottom: 130px
    background: url(assets/img/bg_promo-o.jpg) center/cover
    & .section-title
      font-size: 45px
      line-height: 51px
      position: relative
      z-index: 3
    &_calc
      width: 620px
      height: 620px
      padding: 25px
      border-radius: 50%
      box-shadow: 0px 10px 25px rgba(0, 0, 0, .25)
      position: relative
      &::before
        content: ""
        background: url(assets/img/promo-flagman_bg.png) center/cover
        position: absolute
        top: -125px
        right: -125px
        bottom: -125px
        left: -125px
      & .section-board
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        max-width: none
        width: 570px
        height: 570px
        padding: 40px
        border-radius: 50%
        position: relative
        z-index: 3
        &_card
          max-width: 200px
          &:nth-child(odd)
            margin-left: 70px
          &__label:hover
            cursor: pointer
            
  /* Promo end
  /* Promo detail start

  #page-detail
    & .promo
      padding-bottom: 130px
    & .promo_calc .section-board
      justify-content: flex-start
      &_form
        max-width: 455px
        &-wrapper
          border-radius: 55px
          overflow: hidden
        &-scroller
          max-height: 370px
          padding-right: 15px
          &::-webkit-scrollbar
            width: 5px
            background-color: #f9f9fd
          &::-webkit-scrollbar-thumb
            background-color: #3DCFC2
      &_title
        max-width: 300px
      &_card
        max-width: 200px
        &:nth-child(odd)
          margin-left: 0
        &__title
          min-height: 53px
        
  
  /* Promo detail end
  /* Portfolio start

  .portfolio
    & .btn-list li:not(.active):hover
      box-shadow: 0 0 10px rgba(166, 171, 189, .5)
      cursor: pointer
    &_card
      max-width: 570px
      margin: 0 0 25px
      padding: 25px 0
      transition: all .4s
      &:hover
        background-color: #FAFBFF
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        border-radius: 5px
      &__title
        padding-bottom: 20px
        @include font-18

  /* Portfolio end
  /* Our team start

  .our-team 
    & .btn-list li:not(.active):hover
      transform: scale(1.02)
      cursor: pointer
    &-content
      max-width: 1170px
      margin: 0 auto
    &_card
      &:hover
        cursor: grab
      &:active
        cursor: grabbing
    

  /* Our team end
  /* Gift start

  .gift
    & .section-board
      max-width: 640px
      margin-left: 0
      padding: 50px 25px 40px
      &_form
        & input[type="tel"]
          order: 1
        & input[type="submit"]
          order: 2
        &__agree
          order: 3
          width: 100%
          text-align: center
          padding: 25px 0 0
          
  /* Gift end
  /* Partners start

  .partners
    &_desc
      max-width: 1040px
      margin-right: auto
      margin-left: auto
      font-size: 20px
      line-height: 30px
    &_card
      width: 350px
      margin: 10px
      padding: 0
      &-body
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        height: 240px
        border: 1px solid transparent
        transition: all .4s
      &:hover &-body
        border: 1px solid $color-turq
      &__pic
        width: 100%
        margin-right: 0
        transition: all .7s
      &:hover &__pic
        width: 50%
        margin-right: auto
      &__desc
        max-height: 0
        margin: 0
        overflow: hidden
        transition: all .7s
      &:hover &__desc
        margin-top: 20px
        max-height: 90px
        
  /* Partners end

  .contacts
    padding-bottom: 80px
    & .section-title
      text-align: left
    & .container
      padding-top: 20px
    &-map
  
  .footer_nav__list a
    transition: all .4s
    &:hover
      background-color: rgba(0, 0, 0, .03)
      border-radius: 5px
            