@media (min-width: 1366px)
  @import ../generic/common/common-1366_media
  .header
    &_nav__contacts
      min-width: 165px
      margin-right: 20px
    & .btn
      display: block
      max-width: 200px

  /* Promo start

  .promo
    padding-bottom: 140px
    & .section-title
      font-size: 50px
      line-height: 68px
    &_desc
      margin-left: 40px
      padding-top: 75px
    &_calc
      width: 660px
      height: 660px
      &::before
        top: -133px
        right: -133px
        bottom: -133px
        left: -133px
      & .section-board
        width: 610px
        height: 610px
        &_title
          padding: 0 100px
          font-size: 22px
          line-height: 30px
        &_card
          max-width: 225px
          &__title
            font-size: 18px
            line-height: 25px
          &__label
            margin-bottom: 5px
            @include font-16
    & .white_wave
      bottom: 0
      left: 0

  /* Promo end
  /* Promo detail start

  #page-detail 
    & .promo
      padding-bottom: 140px
    & .promo_calc .section-board
      &_form
        max-width: 480px
        &-scroller
          max-height: 385px
          padding-right: 5px
          padding-left: 10px
      &_title
        padding: 15px 0 0
      &_card
        max-width: 230px
        &__title
          min-height: 63px
        
  
  /* Promo detail end
  /* Portfolio start

  .portfolio
    padding-bottom: 80px
    &_desc
      max-width: 1015px
      padding: 35px 15px 60px
      font-size: 20px
      line-height: 30px
    &_card
      max-width: 635px
      margin-right: 12px
      margin-left: 12px

  /* Portfolio end
  /* Benefit start

  .benefit
    padding-bottom: 110px
    & .section-title
      max-width: 560px
      margin-top: 75px
    &_card
      max-width: 530px
      padding-right: 30px
      padding-left: 30px
      &__pic
        width: 345px
      &[data-target="benefit-flagman"] &__pic
        &::before
          width: 483px
          height: 483px
          top: -69px
          left: -69px
        &::after
          width: 315px
          height: 315px
          top: 15px
          left: 15px
      &__title
        right: calc( 50% - -10px)

  /* Benefit end
  /* Pricing start

  .pricing
    padding: 90px 0 110px
    &-content
      margin-top: 65px
    &_card
      height: calc( 100% - 40px )
      margin: 0 10px
      padding: 50px 45px
      &:nth-child(2)
        height: 100%
        padding: 70px 45px
      &__title
        font-size: 26px
        line-height: 36px
      &__desc
        margin: 30px 0

  /* Pricing end
  /* Contract start

  .contract
    padding: 130px 0 110px
    &-content
      width: 100%
      & .section-title
        text-align: left
    &_pic
      max-width: 550px
      margin: -170px auto 0
    &_list__item
      margin-top: 50px
      @include font-18

  /* Contract end
  /* Our team start

  .our-team
    padding: 80px 0 130px
    & .btn-list
      margin: 40px auto
      & li
        margin-bottom: 0
    &_card
      display: block!important
      width: calc( 100% - 30px )
      margin: 0 auto
    & .slick-arrow-prev
      left: -40px
    & .slick-arrow-next
      right: -40px

  /* Our team end
  /* Gift start
  
  .gift
    padding: 140px 0 110px
    &_pic
      max-width: 600px
      width: 100%
      margin-right: 50px
      margin-bottom: 0
    &-wrap
      width: 640px
      
  /* Gift end
  
  .reviews, .vlog
    padding: 90px 0 150px
    &-content
      margin-top: 55px
    &_card
      max-width: 640px
      width: 100%
      margin: 10px
  .vlog_card
    &__icon
      width: 42px
      height: 40px
      top: 30px
      left: 50px
    &-info
      @include font-18
      bottom: 40px
      left: 68px

  .partners
    padding: 80px 0 150px
  
  .contacts
    padding-top: 65px
    &-info
      padding: 0 50px
    &_list__item
      &-title
        font-size: 20px
        line-height: 30px
      &-subtitle
        font-size: 16px
        line-height: 30px
    &-map
      height: 395px