@media (min-width: 576px)
  @import ../generic/common/common-576_media
  #page-detail .promo_calc .section-board
    padding: 30px 50px 40px
  .portfolio
    padding-top: 25px
    &_desc
      max-width: 520px
  .pricing_card__desc
    min-height: 100px
  .benefit
    & .section-title
      max-width: 370px
      margin: 30px auto
      text-align: center
  .our-team-content
    min-height: 425px
  