@media (min-width: 768px)
  @import ../generic/common/common-768_media
  /* Promo start

  .promo
    padding-bottom: 180px
    background: url(assets/img/bg_promo-m.jpg) center/cover no-repeat
    &::before
      content: ""
      background: linear-gradient(90deg, rgba(0, 191, 175, 0.8) 0.02%, rgba(141, 233, 213, 0.8) 85.98%)
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      z-index: 1
    & .container
      position: relative
      z-index: 3
    & .section-title
      width: 100%
      order: 1
      margin-bottom: 50px
    &_calc
      order: 3
      margin: 0
    &_desc
      order: 2
      margin: 0
      padding-top: 25px
      &__item
        padding-bottom: 40px
    & .white_wave
      left: -250px

  #page-detail .promo
    padding-bottom: 90px
    &_calc
      box-shadow: 0px 10px 25px rgba(0, 0, 0, .25)
    & .section-board
      padding-right: 30px
      padding-left: 30px
      &_form
        margin-top: 0
        &-wrapper
          position: relative
          &::before, &::after
            content: ""
            display: block
            width: 100%
            height: 50px
            position: absolute
            right: 0
            left: 0
            z-index: 10
          &::before
            background: rgba(255,255,255,1)
            background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,0.75) 50%, rgba(255,255,255,0) 100%)
            top: 0
          &::after
            background: rgba(255,255,255,0)
            background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,0.75) 50%, rgba(255,255,255,0) 100%)
            bottom: 0
        &-scroller
          max-height: 350px
          padding: 30px 20px
          overflow-y: scroll
      & .btn
        margin-top: 10px
      
  /* Promo end
  /* Pricing start

  .pricing
    background: url(assets/img/bg_pricing-m.jpg) center/cover no-repeat
    &::before
      content: ""
      background: linear-gradient(250deg, rgba(0, 191, 175, 0.8) 16.08%, rgba(141, 233, 213, 0.8) 97.52%)
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      z-index: 1
    & .container
      position: relative
      z-index: 3
    &-content
      margin-top: 20px
    &_card
      width: calc( 100% - 20px )!important
      &__desc
        min-height: 135px

  /* Pricing end
  /* Our team start
  
  .our-team
    padding-top: 45px
    background: url(assets/img/bg_team-m.png) top center/cover no-repeat
    &::before
      content: ""
      background: linear-gradient(90deg, rgba(0, 191, 175, 0.8) 16.08%, rgba(141, 233, 213, 0.8) 97.52%)
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      z-index: 1
    & .container
      position: relative
      z-index: 3
    &_nav
      margin-top: 35px
    &_desc
      max-width: 815px
      margin: 0 auto
      padding-bottom: 30px
      line-height: 26px
    &_card
      width: calc( 100% - 20px )!important

  /* Our team end

  .reviews, .vlog
    padding-top: 45px
    background: url(assets/img/bg_review-m.jpg) center/cover no-repeat
    &::before
      content: ""
      background: linear-gradient(250deg, rgba(0, 191, 175, 0.8) 16.08%, rgba(141, 233, 213, 0.8) 97.52%)
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      z-index: 1
    & .container
      position: relative
      z-index: 3
    &_card
      width: 48%
      margin: 7px
  .vlog
    background: url(assets/img/bg_vlog-m.jpg) center/cover no-repeat
    &::before
      background: linear-gradient(90deg, rgba(0, 191, 175, 0.8) 16.08%, rgba(141, 233, 213, 0.8) 97.52%)

  .contacts-map
    max-width: 750px
    height: 350px

  .footer
    &_logo
      order: 1
    &_nav
      order: 3
      padding-bottom: 0
      & a
        margin-bottom: 0
    &_social
      order: 2
    &_copy
      order: 4
      margin-top: 35px
  

  .modal
    &-content
      max-width: 475px
      position: relative
    &_close
      margin: 0
      position: absolute
      top: 5px
      right: -30px
    &-body
      padding: 40px 55px 60px
