@media (min-width: 992px)
  @import ../generic/common/common-992_media
  .promo
    padding-bottom: 220px
    & .section-title
      font-size: 38px
      line-height: 44px
    &_calc
      padding: 15px
      background-color: #fff
      border-radius: 5px
    & .section-board
      border: 1px solid $color-turq
    &_desc
      padding-top: 50px
      &__item
        padding-right: 60px
        &-text
          font-size: 20px
          line-height: 26px

  .portfolio
    &_desc
      max-width: 650px
      padding-top: 30px
      padding-bottom: 45px
      text-align: center
    &-wrap
      margin-top: 40px
    &_card
      max-width: 480px
      margin: 0

  .benefit
    & .section-title
      max-width: 490px
    & .btn-select
      display: none
    &_card
      display: block
      max-width: 550px
      width: 50%
      padding: 30px 10px

  .pricing_card__desc
    min-height: 100px

  .contract
    padding-bottom: 80px
    & .container
      padding-top: 40px
    &_pic
      order: 2
      width: 100%
      margin-bottom: 0
    &-content
      order: 1
      max-width: 610px
      width: calc( 100% - 360px )

  .gift
    padding-top: 60px
    &_pic
      max-width: 400px
    &-wrap
      width: calc( 100% - 450px )

  .partners
    padding: 60px 0 65px
    &_card
      max-width: 420px

  .footer
    &_nav
      order: 2
      padding: 15px 10px 0
    &_social
      order: 3
        